@model ABP.Domain.Report.SectorPRFData
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@{
    ViewData["Title"] = "SectorWiseEntryPerformance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Glink = Context.Request.Query["Glink"];
    string Plink = Context.Request.Query["Plink"];
    var year = ViewBag.year;
    var ListSectorData = ViewBag.SectorDpCountData as Task<IEnumerable<ABP.Domain.Report.SectorPRFData>>;
    var ListSectorTotalData = ViewBag.SectorTtlData as Task<IEnumerable<ABP.Domain.Report.SectorPRFData>>;
    var ListSectorYearTotalData = ViewBag.SectorTotlData as Task<IEnumerable<ABP.Domain.Report.SectorPRFData>>;
    
}
<link href="~/css/entryperformance.css" rel="stylesheet">
<style>
    .sum-row {
        background: #ebebeb;
    }
</style>
<div class="page-title">
    <div class="title-details">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-0 mb-0 bg-transparent" id="navigation">
                <li class="breadcrumb-item"><a href="../Home/MapData" title="Home"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item">MIS Report </li>
                <li class="breadcrumb-item font-weight-bold">Sector wise Entry Performance</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">

            <div class="card-header">

                <div class="indicatorslist">
                    <p class="ml-2">(*) Indicates mandatory </p>
                </div>
            </div>
            <div class="card-body">
                <form method="post" id="search">
                    <div class="form-group row">
                        <div class="col-12 col-md-6 col-lg-3 col-xl-3">
                            <label class="control-label" for="demo-email-input">Year<span class="text-danger">*</span></label>
                            <select class="form-control" id="ddlYear" asp-for="Year" asp-items="@(new SelectList(ViewBag.Years, "FREQUENCYNO", "FREQUENCYVALUE" ))">
                                <option value=0>--Select--</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-xl-3">
                            <input type="hidden" id="hdnDistrict" value="" />
                            <label class="control-label" for="demo-email-input">District<span class="text-danger">*</span></label>
                            <select class="form-control" id="ddlDistrict" asp-for="DISTRICTID" onchange="BindBlockData(0)" asp-items="@(new SelectList(ViewBag.DistrictData, "BLOCK_CODE", "BLOCK_NAME" ))">
                                <option value=0>---Select---</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-xl-3">
                            <input type="hidden" id="hdnDistrict" value="" />
                            <label class="control-label" for="demo-email-input">Block<span class="text-danger">*</span></label>
                            <div id="divblock">
                                <select class="form-control" id="ddlBlock" name="Blockid">
                                    <option value="0">---Select---</option>
                                </select>
                            </div>
                        </div>
                        <div id="ddindicatorhide" class="col-12 col-md-3 col-xl-3">
                            <br />
                            <button id="btnSearch" class="btn btn-primary"> Search</button>

                        </div>



                    </div>

                </form>
                <div class="legend-section mb-3 mt-4">

                    @if (ListSectorData != null)
                    {
                        
                        <div class='legend-box legend-box2'>
                           
                                <a href='#' class='text-success  mb-lg-0' id="gcheck">  <span class='back-green1'></span> <strong>100% Completed </strong> </a>
                                <a href='#' class='text-warning mb-lg-0' id="ycheck">  <span class='back-yellow1'></span>  <strong> &gt;50% Completed</strong> </a>
                                <a href='#' class='text-danger mb-lg-0' id="rcheck">  <span class='back-red1'></span>  <strong>&lt; 50% Completed </strong></a>
                           
                           

                        </div>
                        <div>
                            <a href="javascript:PrintPagePF();void(0)" title="Print" id="printIcon" data-toggle="tooltip" data-placement="top" class="btn btn-sm btn-default float-md-right ml-1 "><i class="icon-printer1"></i></a>

                            <a href="javascript:generateExcelD();void(0)" title="Export to Excel" id="printIconD" data-toggle="tooltip" data-placement="top" class="btn btn-sm btn-default float-md-right "><i class="icon-excel-file"></i></a>
                        </div>

                           
                        
                    }
                    <div class="clearfix"></div>
                </div>
                <div class="table-responsive sector-table" id="printtablepfs">

                    @if (ListSectorData != null && ListSectorData.Result.ToList().Count > 0)
                    {
                       
                    <table class="table table-hover table-bordered" id="tbldata">
                        <thead>
                            <tr>
                                <th class="month-row" width="66">Sl no</th>
                                <th class="month-row">Month</th>
                                <th class="info-text">
                                    <div class="d-flex ">
                                        <svg class="fillinfo-bg " xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 33 33.231">
                                            <defs>
                                                <clipPath id="clip-path">
                                                    <rect id="Rectangle_11759" data-name="Rectangle 11759" width="33" height="33.231" transform="translate(-2 -1)"></rect>
                                                </clipPath>
                                            </defs>
                                            <g id="Group_1711" data-name="Group 1711" transform="translate(2 1)">
                                                <g id="Group_1710" data-name="Group 1710" transform="translate(0 0)" clip-path="url(#clip-path)">
                                                    <path id="Path_701" data-name="Path 701" d="M12.245,14.5a.566.566,0,0,0,.218-.043.568.568,0,0,0,.309-.308.564.564,0,0,0,.043-.217v-2.08c0-.083-.007-.166-.012-.248l.175.174a.571.571,0,0,0,.807,0l.184-.184c-.006.082-.013.173-.013.261v2.081a.565.565,0,0,0,.044.217.565.565,0,0,0,.308.308.552.552,0,0,0,.218.043h2.087a3.616,3.616,0,0,0,3.615-3.6V8.81a.583.583,0,0,0-.043-.217.593.593,0,0,0-.125-.185.555.555,0,0,0-.185-.124.57.57,0,0,0-.219-.043H17.573a3.6,3.6,0,0,0-1.335.259,3.6,3.6,0,0,0-.977-3.3L13.785,3.734a.567.567,0,0,0-.622-.124.56.56,0,0,0-.185.124L11.5,5.2a3.6,3.6,0,0,0-.976,3.3A3.585,3.585,0,0,0,9.2,8.245H7.113a.569.569,0,0,0-.218.043.576.576,0,0,0-.186.123.585.585,0,0,0-.124.185.573.573,0,0,0-.043.218v2.081A3.614,3.614,0,0,0,10.157,14.5h2.085Zm6.841-5.118V10.89a2.474,2.474,0,0,1-2.474,2.47H15.1V11.847a2.474,2.474,0,0,1,2.476-2.469ZM12.31,6l1.071-1.069L14.454,6a2.469,2.469,0,0,1,0,3.492l-1.071,1.068L12.312,9.5A2.469,2.469,0,0,1,12.31,6ZM7.686,10.891V9.379H9.2a2.474,2.474,0,0,1,2.475,2.469v1.512H10.16a2.476,2.476,0,0,1-2.474-2.469Z" transform="translate(-0.391 0.183)"></path>
                                                    <path id="Path_702" data-name="Path 702" d="M15.4,19.589a1.711,1.711,0,0,0-1.71,1.706h1.14a.57.57,0,0,1,1.141,0h1.14A1.711,1.711,0,0,0,15.4,19.589" transform="translate(-0.692 -0.49)"></path>
                                                    <path id="Path_703" data-name="Path 703" d="M20.159,20.183a1.711,1.711,0,0,0-1.71,1.706h1.14a.57.57,0,0,1,1.141,0h1.14a1.711,1.711,0,0,0-1.711-1.706" transform="translate(-0.892 -0.515)"></path>
                                                    <path id="Path_704" data-name="Path 704" d="M23.668,17.173l1.968-7.359a.585.585,0,0,0,.018-.147,1.138,1.138,0,0,0-1.143-1.133H23.37a1.135,1.135,0,0,0-.57.156V.57a.564.564,0,0,0-.167-.4.56.56,0,0,0-.185-.124A.569.569,0,0,0,22.23,0H.57a.562.562,0,0,0-.4.166A.568.568,0,0,0,0,.57V26.728a.569.569,0,0,0,.094.313.579.579,0,0,0,.25.21l3.975,1.705A.568.568,0,0,0,4.544,29h8.749a10.683,10.683,0,0,0,16.4-9.031v-.058c0-1.7-3.52-2.433-6.033-2.741Zm-.293-7.506h1.12l-2.1,7.85-.339,1.3a.566.566,0,0,0,.059.431.573.573,0,0,0,.349.263.649.649,0,0,0,.144.018.57.57,0,0,0,.551-.425l.216-.824c3.89.458,5.186,1.356,5.186,1.629,0,.559-3.256,1.872-9.569,1.872s-9.568-1.312-9.568-1.872,3.255-1.874,9.568-1.874c.337,0,.664.013.989.022l-.106.423a.574.574,0,0,0-.011.221.562.562,0,0,0,.075.21.571.571,0,0,0,.15.164.563.563,0,0,0,.2.095.57.57,0,0,0,.692-.413l.279-1.106,2.1-7.842a.581.581,0,0,0,.019-.147Zm-19.4,17.9L1.14,26.353V1.138H3.975Zm7.807.3H5.138V1.138H21.665V11.726l-1.39,5.2c-.42-.013-.847-.022-1.282-.022-3.7,0-10.708.629-10.708,3.011v.059a10.747,10.747,0,0,0,.058,1.11c.012.109.035.215.05.323.034.255.069.51.122.758.03.142.073.278.108.415.053.21.1.419.166.623.052.166.117.32.176.479s.125.348.2.516.161.338.245.507c.074.148.145.3.224.442.1.171.2.335.3.5.083.133.167.268.258.4.11.159.228.31.348.464.1.13.2.261.309.386s.242.27.368.4.255.263.387.391c.061.056.113.119.175.173Zm7.21,1.652a9.531,9.531,0,0,1-5.274-1.588c-.072-.048-.142-.1-.213-.148-.166-.114-.323-.233-.478-.357-.057-.044-.115-.088-.166-.134q-.306-.256-.587-.533l-.1-.105c-.185-.188-.365-.381-.534-.585l-.031-.035q-.273-.332-.515-.688l-.057-.083a9.543,9.543,0,0,1-.819-1.5c-.019-.044-.038-.088-.057-.132-.107-.257-.205-.518-.289-.786-.011-.034-.019-.068-.03-.1-.074-.243-.137-.491-.193-.745-.011-.05-.023-.1-.034-.15-.027-.13-.04-.263-.06-.4,2.189,1.134,6.711,1.477,9.442,1.477s7.253-.343,9.442-1.477A9.565,9.565,0,0,1,19,29.517Z" transform="translate(-0.116 0.333)"></path>
                                                </g>
                                            </g>
                                        </svg>
                                        <span>Health & Nutrition</span>
                                    </div>
                                </th>
                                <th class="warning-text ">
                                    <div class="d-flex ">
                                        <svg class="fillwarnning-bg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 29.61 32.651">
                                            <defs>
                                                <clipPath id="clip-path">
                                                    <rect id="Rectangle_11761" data-name="Rectangle 11761" width="29.61" height="32.651" transform="translate(-1 -1)"></rect>
                                                </clipPath>
                                            </defs>
                                            <g id="Group_1715" data-name="Group 1715" transform="translate(1.328 1.02)">
                                                <g id="Group_1714" data-name="Group 1714" transform="translate(-0.328 -0.02)" clip-path="url(#clip-path)">
                                                    <path id="Path_706" data-name="Path 706" d="M25.86,5.054l-12.338-5a.806.806,0,0,0-.6,0l-12.334,5a.9.9,0,0,0-.423.366,1.11,1.11,0,0,0,0,1.149.9.9,0,0,0,.423.365l6.025,2.44v3.114c0,1.945,5.932,2,6.611,2s6.611-.056,6.611-2V9.373l1.322-.532V9.989a1.066,1.066,0,0,0,.258.706.829.829,0,0,0,.622.293h.882a.83.83,0,0,0,.621-.293A1.069,1.069,0,0,0,23.8,9.99v-1.5a1.625,1.625,0,0,0-.143-.665l2.2-.891a.909.909,0,0,0,.423-.365,1.11,1.11,0,0,0,0-1.149.906.906,0,0,0-.423-.366Zm-6.907,6.335c-1.679-.866-5.218-.9-5.73-.9s-4.051.033-5.731.9V7.037c.265-.385,2.344-1.044,5.728-1.044s5.466.658,5.731,1.044Zm-5.732,2.1c-3.261,0-5.309-.611-5.693-1,.383-.389,2.43-1,5.693-1s5.31.611,5.693,1c-.381.391-2.429,1-5.693,1m8.143-5.792-1.529.618V6.993c0-1.944-5.932-2-6.611-2s-6.61.056-6.61,2v1.32L.881,5.993,13.229,1l8.809,3.564V7.085a1.368,1.368,0,0,0-.674.61m1.556,2.3h-.882v-1.5a.576.576,0,0,1,.028-.2.526.526,0,0,1,.094-.168.45.45,0,0,1,.145-.114.388.388,0,0,1,.346,0,.45.45,0,0,1,.145.114.51.51,0,0,1,.094.168.556.556,0,0,1,.028.2Zm0-2.925V4.923l2.645,1.07Z" transform="translate(0.525 0.096)"></path>
                                                    <path id="Path_707" data-name="Path 707" d="M25.123,17.566a.4.4,0,0,0-.079.008,65.22,65.22,0,0,1-11.821.991A65.223,65.223,0,0,1,1.4,17.574a.591.591,0,0,0-.078-.008c-.309,0-1.322.4-1.322,5.494s1.013,5.494,1.322,5.494a.4.4,0,0,0,.078-.009,61.05,61.05,0,0,1,9.077-.938L9.62,29.947a1.124,1.124,0,0,0-.044.577,1.035,1.035,0,0,0,.248.508.843.843,0,0,0,.454.264.786.786,0,0,0,.508-.066l.337-.162.144.38a.97.97,0,0,0,.324.442.8.8,0,0,0,.486.164h.011a.808.808,0,0,0,.487-.173.988.988,0,0,0,.321-.45l.765-2.077.766,2.065a.99.99,0,0,0,.321.456.816.816,0,0,0,.49.175h.012a.8.8,0,0,0,.483-.162.974.974,0,0,0,.324-.437l.147-.383.332.162a.783.783,0,0,0,.51.069.848.848,0,0,0,.457-.266,1.032,1.032,0,0,0,.248-.51,1.126,1.126,0,0,0-.047-.58l-.844-2.294a59.641,59.641,0,0,1,8.186.9.376.376,0,0,0,.077.007c.309,0,1.322-.4,1.322-5.494s-1.014-5.493-1.322-5.493m-10.49,1.983a11.8,11.8,0,0,1,.318,2.336,2.745,2.745,0,0,0-1.573-.309,2.855,2.855,0,0,0-1.5.633,15.148,15.148,0,0,0-.3-2.664q.8.019,1.644.019c.48,0,.949-.006,1.41-.015m-.97,8.007a2.027,2.027,0,0,1-1.224-.42,2.461,2.461,0,0,1-.812-1.121,2.811,2.811,0,0,1-.125-1.442,2.623,2.623,0,0,1,.6-1.279,2.137,2.137,0,0,1,1.128-.683,1.964,1.964,0,0,1,1.274.142,2.283,2.283,0,0,1,.988.919,2.739,2.739,0,0,1,.372,1.388,2.681,2.681,0,0,1-.645,1.767,2.082,2.082,0,0,1-1.559.731M1.322,18.815a15.783,15.783,0,0,1,.441,4.246,15.783,15.783,0,0,1-.441,4.246,15.819,15.819,0,0,1-.442-4.246,15.819,15.819,0,0,1,.442-4.246m.893,8.577a15.7,15.7,0,0,0,.429-4.332,15.7,15.7,0,0,0-.429-4.332,68.48,68.48,0,0,0,8.448.791,14.5,14.5,0,0,1,.358,3.541v.211a3.808,3.808,0,0,0-.435,1.616,3.875,3.875,0,0,0,.292,1.657l-.019.052a67.9,67.9,0,0,0-8.642.8Zm9.863,3.661-.322-.839a.469.469,0,0,0-.241-.264.392.392,0,0,0-.337,0l-.741.372,1.033-2.809a3,3,0,0,0,1.557.964Zm4.067-1.1a.39.39,0,0,0-.336,0,.471.471,0,0,0-.242.264l-.326.831-.948-2.564a3,3,0,0,0,1.558-.965l1.031,2.8Zm8.889-2.424a63.25,63.25,0,0,0-8.551-.9l-.031-.086a3.894,3.894,0,0,0,.252-2.077,3.662,3.662,0,0,0-.846-1.863,15.714,15.714,0,0,0-.315-3.078,65.178,65.178,0,0,0,9.491-.941,13.263,13.263,0,0,1,.529,4.472,13.323,13.323,0,0,1-.529,4.47Z" transform="translate(0.526 -1.985)"></path>
                                                </g>
                                            </g>
                                        </svg>
                                        <span>Education</span>
                                    </div>
                                </th>
                                <th class="success-text">
                                    <div class="d-flex ">
                                        <svg class="fillsuccess-bg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 30.411 29.651">
                                            <defs>
                                                <clipPath id="clip-path">
                                                    <rect id="Rectangle_11760" data-name="Rectangle 11760" width="30.411" height="29.651"></rect>
                                                </clipPath>
                                            </defs>
                                            <g id="Group_1713" data-name="Group 1713" transform="translate(-0.426 0.02)">
                                                <g id="Group_1712" data-name="Group 1712" transform="translate(0.426 -0.02)" clip-path="url(#clip-path)">
                                                    <path id="Path_705" data-name="Path 705" d="M28.691,29l-1.305-1.043a12.843,12.843,0,0,0-3.216-1.868V25.1a3.386,3.386,0,0,0,2.9-3.345V16.918a.485.485,0,0,0-.486-.485,3.363,3.363,0,0,0-2.417,1.021V15.429a3.388,3.388,0,0,0,2.9-3.345v-2.9a.487.487,0,0,0-.486-.486A3.366,3.366,0,0,0,24.171,9.72V7.695a3.386,3.386,0,0,0,2.9-3.345V3.383a.489.489,0,0,0-.037-.186.5.5,0,0,0-.105-.158.48.48,0,0,0-.158-.105.494.494,0,0,0-.187-.037,3.381,3.381,0,0,0-2.9,1.649,3.381,3.381,0,0,0-2.9-1.649.485.485,0,0,0-.486.485v.968A3.386,3.386,0,0,0,23.2,7.7V9.72A3.367,3.367,0,0,0,20.782,8.7a.487.487,0,0,0-.486.486v2.9a3.388,3.388,0,0,0,2.9,3.345v2.025a3.367,3.367,0,0,0-2.417-1.02.485.485,0,0,0-.486.485v4.835a3.386,3.386,0,0,0,2.9,3.345v.648a12.633,12.633,0,0,0-6.038-.421,12.811,12.811,0,0,0-1.7-.166v-2.97a3.384,3.384,0,0,0,2.9-3.345V14.018a.485.485,0,0,0-.486-.485,3.365,3.365,0,0,0-2.4,1.023V12.53a3.386,3.386,0,0,0,2.9-3.345v-2.9a.485.485,0,0,0-.485-.486A3.375,3.375,0,0,0,15.472,6.82V4.8a3.386,3.386,0,0,0,2.9-3.346V.485A.485.485,0,0,0,17.887,0a3.381,3.381,0,0,0-2.9,1.649A3.381,3.381,0,0,0,12.085,0,.487.487,0,0,0,11.6.485v.964A3.388,3.388,0,0,0,14.5,4.8V6.82A3.382,3.382,0,0,0,12.083,5.8a.487.487,0,0,0-.486.486v2.9a3.386,3.386,0,0,0,2.9,3.346v2.025a3.377,3.377,0,0,0-2.417-1.02.489.489,0,0,0-.486.486v4.834A3.384,3.384,0,0,0,14.5,22.194v2.96a12.809,12.809,0,0,0-1.7.166,12.61,12.61,0,0,0-6.038.421v-.648a3.388,3.388,0,0,0,2.9-3.345v-4.83a.487.487,0,0,0-.486-.485,3.363,3.363,0,0,0-2.417,1.021V15.429a3.386,3.386,0,0,0,2.9-3.345v-2.9A.485.485,0,0,0,9.177,8.7,3.372,3.372,0,0,0,6.769,9.72V7.695a3.386,3.386,0,0,0,2.9-3.345V3.383A.485.485,0,0,0,9.183,2.9a3.383,3.383,0,0,0-2.9,1.652A3.381,3.381,0,0,0,3.384,2.9a.487.487,0,0,0-.486.486v.964A3.388,3.388,0,0,0,5.8,7.695V9.72A3.367,3.367,0,0,0,3.384,8.7a.487.487,0,0,0-.486.486v2.9a3.388,3.388,0,0,0,2.9,3.345v2.025a3.371,3.371,0,0,0-2.415-1.023.489.489,0,0,0-.486.486v4.834A3.388,3.388,0,0,0,5.8,25.1V26.1a12.908,12.908,0,0,0-3.217,1.868L1.281,29H0v.968H29.971V29ZM26.105,17.451v4.3a2.424,2.424,0,0,1-1.934,2.369v-4.3a2.42,2.42,0,0,1,1.934-2.369m0-7.735v2.369a2.422,2.422,0,0,1-1.934,2.369v-2.37A2.418,2.418,0,0,1,26.105,9.72Zm0-5.8v.434a2.422,2.422,0,0,1-1.934,2.368V6.284a2.42,2.42,0,0,1,1.934-2.369Zm-4.835.434V3.916A2.42,2.42,0,0,1,23.2,6.284v.434A2.422,2.422,0,0,1,21.27,4.351m0,7.734V9.72A2.42,2.42,0,0,1,23.2,12.088v2.369a2.419,2.419,0,0,1-1.934-2.373m0,9.668v-4.3A2.42,2.42,0,0,1,23.2,19.82v4.3a2.424,2.424,0,0,1-1.934-2.369ZM8.7,17.451v4.3a2.422,2.422,0,0,1-1.933,2.369v-4.3A2.42,2.42,0,0,1,8.7,17.451m0-7.735v2.369a2.42,2.42,0,0,1-1.933,2.369v-2.37A2.419,2.419,0,0,1,8.7,9.72Zm0-5.8v.434A2.42,2.42,0,0,1,6.769,6.718V6.284A2.42,2.42,0,0,1,8.7,3.916Zm-4.834.434V3.916A2.42,2.42,0,0,1,5.8,6.284v.434A2.422,2.422,0,0,1,3.867,4.351m0,7.734V9.72A2.42,2.42,0,0,1,5.8,12.088v2.369a2.419,2.419,0,0,1-1.934-2.373m0,9.668v-4.3A2.42,2.42,0,0,1,5.8,19.82v4.3a2.422,2.422,0,0,1-1.934-2.369Zm22.916,6.966.361.289h-2.8l-1.305-1.044a12.914,12.914,0,0,0-3.129-1.833,12.036,12.036,0,0,1,6.876,2.585ZM14.986,26.1a11.964,11.964,0,0,1,7.446,2.611l.361.288H7.18l.361-.288A11.958,11.958,0,0,1,14.986,26.1M17.4,14.552v4.3a2.42,2.42,0,0,1-1.932,2.37v-4.3A2.42,2.42,0,0,1,17.4,14.551Zm0-7.735V9.186a2.421,2.421,0,0,1-1.932,2.367V9.185A2.42,2.42,0,0,1,17.4,6.816Zm0-5.8v.433a2.423,2.423,0,0,1-1.932,2.369V3.383A2.423,2.423,0,0,1,17.4,1.015Zm-4.835.434V1.015A2.423,2.423,0,0,1,14.5,3.383v.434a2.421,2.421,0,0,1-1.932-2.368Zm0,7.735V6.816A2.423,2.423,0,0,1,14.5,9.185v2.369a2.423,2.423,0,0,1-1.932-2.369m0,9.667v-4.3A2.42,2.42,0,0,1,14.5,16.918v4.3a2.42,2.42,0,0,1-1.932-2.371M3.19,28.716a12.038,12.038,0,0,1,6.875-2.592,12.848,12.848,0,0,0-3.129,1.832L5.632,29h-2.8Z" transform="translate(0.307 0.096)"></path>
                                                </g>
                                            </g>
                                        </svg>
                                        <span>Agriculture & Allied</span>
                                    </div>

                                </th>
                                <th class="danger-text">
                                    <div class="d-flex">
                                        <svg class="filldanger-bg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 30.816 29.651">
                                            <defs>
                                                <clipPath id="clip-path">
                                                    <rect id="Rectangle_11763" data-name="Rectangle 11763" width="30.816" height="29.651"></rect>
                                                </clipPath>
                                            </defs>
                                            <g id="Group_1719" data-name="Group 1719" transform="translate(0 0)">
                                                <g id="Group_1718" data-name="Group 1718" transform="translate(0 0)" clip-path="url(#clip-path)">
                                                    <path id="Path_716" data-name="Path 716" d="M34.3,34.742H32.54a1.369,1.369,0,0,0-.951.38,1.27,1.27,0,0,0-.394.916V37.73a1.271,1.271,0,0,0,.394.916,1.369,1.369,0,0,0,.951.38H34.3a1.371,1.371,0,0,0,.951-.38,1.271,1.271,0,0,0,.394-.916V36.037a1.255,1.255,0,0,0-.1-.5,1.294,1.294,0,0,0-.292-.421,1.356,1.356,0,0,0-.437-.281,1.387,1.387,0,0,0-.515-.1m.441,2.987a.416.416,0,0,1-.13.3.45.45,0,0,1-.312.125H32.54a.45.45,0,0,1-.312-.125.416.416,0,0,1-.13-.3V36.035a.416.416,0,0,1,.13-.3.449.449,0,0,1,.312-.124H34.3a.451.451,0,0,1,.312.124.418.418,0,0,1,.129.3Z" transform="translate(-13.146 -14.641)"></path>
                                                    <path id="Path_717" data-name="Path 717" d="M34.3,34.742H32.54a1.369,1.369,0,0,0-.951.38,1.27,1.27,0,0,0-.394.916V37.73a1.271,1.271,0,0,0,.394.916,1.369,1.369,0,0,0,.951.38H34.3a1.371,1.371,0,0,0,.951-.38,1.271,1.271,0,0,0,.394-.916V36.037a1.255,1.255,0,0,0-.1-.5,1.294,1.294,0,0,0-.292-.421,1.356,1.356,0,0,0-.437-.281A1.387,1.387,0,0,0,34.3,34.742Zm.441,2.987a.416.416,0,0,1-.13.3.45.45,0,0,1-.312.125H32.54a.45.45,0,0,1-.312-.125.416.416,0,0,1-.13-.3V36.035a.416.416,0,0,1,.13-.3.449.449,0,0,1,.312-.124H34.3a.451.451,0,0,1,.312.124.418.418,0,0,1,.129.3Z" transform="translate(-13.146 -14.641)"></path>
                                                    <path id="Path_718" data-name="Path 718" d="M44.461,34.742H42.706a1.369,1.369,0,0,0-.951.38,1.27,1.27,0,0,0-.394.916V37.73a1.271,1.271,0,0,0,.394.916,1.369,1.369,0,0,0,.951.38h1.757a1.371,1.371,0,0,0,.951-.38,1.271,1.271,0,0,0,.394-.916V36.037a1.255,1.255,0,0,0-.1-.5,1.294,1.294,0,0,0-.292-.421,1.356,1.356,0,0,0-.437-.281,1.387,1.387,0,0,0-.515-.1m.441,2.987a.416.416,0,0,1-.13.3.45.45,0,0,1-.312.125H42.706a.45.45,0,0,1-.312-.125.416.416,0,0,1-.13-.3V36.035a.416.416,0,0,1,.13-.3.449.449,0,0,1,.312-.124h1.757a.451.451,0,0,1,.312.124.418.418,0,0,1,.129.3Z" transform="translate(-17.43 -14.641)"></path>
                                                    <path id="Path_719" data-name="Path 719" d="M44.461,34.742H42.706a1.369,1.369,0,0,0-.951.38,1.27,1.27,0,0,0-.394.916V37.73a1.271,1.271,0,0,0,.394.916,1.369,1.369,0,0,0,.951.38h1.757a1.371,1.371,0,0,0,.951-.38,1.271,1.271,0,0,0,.394-.916V36.037a1.255,1.255,0,0,0-.1-.5,1.294,1.294,0,0,0-.292-.421,1.356,1.356,0,0,0-.437-.281A1.387,1.387,0,0,0,44.461,34.742Zm.441,2.987a.416.416,0,0,1-.13.3.45.45,0,0,1-.312.125H42.706a.45.45,0,0,1-.312-.125.416.416,0,0,1-.13-.3V36.035a.416.416,0,0,1,.13-.3.449.449,0,0,1,.312-.124h1.757a.451.451,0,0,1,.312.124.418.418,0,0,1,.129.3Z" transform="translate(-17.43 -14.641)"></path>
                                                    <path id="Path_720" data-name="Path 720" d="M5.11,17.952H7.041a1.011,1.011,0,0,0,.7-.279A.94.94,0,0,0,8.03,17V14.16a.939.939,0,0,0-.29-.673,1.009,1.009,0,0,0-.7-.279H5.11a1.009,1.009,0,0,0-.7.279.939.939,0,0,0-.29.673V17a.94.94,0,0,0,.29.673,1.011,1.011,0,0,0,.7.279m-.089-3.794a.086.086,0,0,1,.026-.06.091.091,0,0,1,.062-.025H7.041A.091.091,0,0,1,7.1,14.1a.086.086,0,0,1,.026.06V17a.08.08,0,0,1-.006.033.085.085,0,0,1-.019.028.09.09,0,0,1-.029.019.094.094,0,0,1-.034.006H5.11a.088.088,0,0,1-.062-.025A.085.085,0,0,1,5.022,17Z" transform="translate(-1.737 -5.566)"></path>
                                                    <path id="Path_721" data-name="Path 721" d="M5.11,17.952H7.041a1.011,1.011,0,0,0,.7-.279A.94.94,0,0,0,8.03,17V14.16a.939.939,0,0,0-.29-.673,1.009,1.009,0,0,0-.7-.279H5.11a1.009,1.009,0,0,0-.7.279.939.939,0,0,0-.29.673V17a.94.94,0,0,0,.29.673A1.011,1.011,0,0,0,5.11,17.952Zm-.089-3.794a.086.086,0,0,1,.026-.06.091.091,0,0,1,.062-.025H7.041A.091.091,0,0,1,7.1,14.1a.086.086,0,0,1,.026.06V17a.08.08,0,0,1-.006.033.085.085,0,0,1-.019.028.09.09,0,0,1-.029.019.094.094,0,0,1-.034.006H5.11a.088.088,0,0,1-.062-.025A.085.085,0,0,1,5.022,17Z" transform="translate(-1.737 -5.566)"></path>
                                                    <path id="Path_722" data-name="Path 722" d="M18.46,13.1h1.931a1.01,1.01,0,0,0,.7-.279.935.935,0,0,0,.29-.674V9.31a.934.934,0,0,0-.29-.673,1.007,1.007,0,0,0-.7-.279H18.46a1.007,1.007,0,0,0-.7.279.934.934,0,0,0-.29.673v2.839a.932.932,0,0,0,.075.365.954.954,0,0,0,.215.31,1,1,0,0,0,.321.207,1.031,1.031,0,0,0,.378.073M18.371,9.31a.085.085,0,0,1,.026-.061.091.091,0,0,1,.063-.025h1.931a.091.091,0,0,1,.063.025.085.085,0,0,1,.026.061v2.839a.083.083,0,0,1-.026.061.091.091,0,0,1-.063.025H18.46a.091.091,0,0,1-.063-.025.083.083,0,0,1-.026-.061Z" transform="translate(-7.363 -3.522)"></path>
                                                    <path id="Path_723" data-name="Path 723" d="M18.46,13.1h1.931a1.01,1.01,0,0,0,.7-.279.935.935,0,0,0,.29-.674V9.31a.934.934,0,0,0-.29-.673,1.007,1.007,0,0,0-.7-.279H18.46a1.007,1.007,0,0,0-.7.279.934.934,0,0,0-.29.673v2.839a.932.932,0,0,0,.075.365.954.954,0,0,0,.215.31,1,1,0,0,0,.321.207A1.031,1.031,0,0,0,18.46,13.1ZM18.371,9.31a.085.085,0,0,1,.026-.061.091.091,0,0,1,.063-.025h1.931a.091.091,0,0,1,.063.025.085.085,0,0,1,.026.061v2.839a.083.083,0,0,1-.026.061.091.091,0,0,1-.063.025H18.46a.091.091,0,0,1-.063-.025.083.083,0,0,1-.026-.061Z" transform="translate(-7.363 -3.522)"></path>
                                                    <path id="Path_724" data-name="Path 724" d="M18.46,23.7h1.931a1.01,1.01,0,0,0,.7-.279.935.935,0,0,0,.29-.673V19.9a.934.934,0,0,0-.29-.673,1.007,1.007,0,0,0-.7-.279H18.46a1.007,1.007,0,0,0-.7.279.934.934,0,0,0-.29.673v2.839a.932.932,0,0,0,.075.365.954.954,0,0,0,.215.31,1,1,0,0,0,.321.207,1.031,1.031,0,0,0,.378.073M18.371,19.9a.085.085,0,0,1,.026-.061.091.091,0,0,1,.063-.025h1.931a.091.091,0,0,1,.063.025.085.085,0,0,1,.026.061v2.839a.083.083,0,0,1-.026.061.091.091,0,0,1-.063.025H18.46A.091.091,0,0,1,18.4,22.8a.083.083,0,0,1-.026-.061Z" transform="translate(-7.363 -7.987)"></path>
                                                    <path id="Path_725" data-name="Path 725" d="M18.46,23.7h1.931a1.01,1.01,0,0,0,.7-.279.935.935,0,0,0,.29-.673V19.9a.934.934,0,0,0-.29-.673,1.007,1.007,0,0,0-.7-.279H18.46a1.007,1.007,0,0,0-.7.279.934.934,0,0,0-.29.673v2.839a.932.932,0,0,0,.075.365.954.954,0,0,0,.215.31,1,1,0,0,0,.321.207A1.031,1.031,0,0,0,18.46,23.7ZM18.371,19.9a.085.085,0,0,1,.026-.061.091.091,0,0,1,.063-.025h1.931a.091.091,0,0,1,.063.025.085.085,0,0,1,.026.061v2.839a.083.083,0,0,1-.026.061.091.091,0,0,1-.063.025H18.46A.091.091,0,0,1,18.4,22.8a.083.083,0,0,1-.026-.061Z" transform="translate(-7.363 -7.987)"></path>
                                                    <path id="Path_726" data-name="Path 726" d="M30.027,13.1h1.931a1.01,1.01,0,0,0,.7-.279.938.938,0,0,0,.29-.674V9.31a.937.937,0,0,0-.29-.673,1.007,1.007,0,0,0-.7-.279H30.027a1.009,1.009,0,0,0-.7.279.936.936,0,0,0-.289.673v2.839a.922.922,0,0,0,.075.365.945.945,0,0,0,.215.31,1,1,0,0,0,.321.207,1.026,1.026,0,0,0,.378.073M29.938,9.31a.084.084,0,0,1,.025-.061.092.092,0,0,1,.064-.025h1.931a.093.093,0,0,1,.064.025.087.087,0,0,1,.026.061v2.839a.085.085,0,0,1-.026.061.093.093,0,0,1-.064.025H30.027a.092.092,0,0,1-.064-.025.082.082,0,0,1-.025-.061Z" transform="translate(-12.237 -3.522)"></path>
                                                    <path id="Path_727" data-name="Path 727" d="M30.027,13.1h1.931a1.01,1.01,0,0,0,.7-.279.938.938,0,0,0,.29-.674V9.31a.937.937,0,0,0-.29-.673,1.007,1.007,0,0,0-.7-.279H30.027a1.009,1.009,0,0,0-.7.279.936.936,0,0,0-.289.673v2.839a.922.922,0,0,0,.075.365.945.945,0,0,0,.215.31,1,1,0,0,0,.321.207A1.026,1.026,0,0,0,30.027,13.1ZM29.938,9.31a.084.084,0,0,1,.025-.061.092.092,0,0,1,.064-.025h1.931a.093.093,0,0,1,.064.025.087.087,0,0,1,.026.061v2.839a.085.085,0,0,1-.026.061.093.093,0,0,1-.064.025H30.027a.092.092,0,0,1-.064-.025.082.082,0,0,1-.025-.061Z" transform="translate(-12.237 -3.522)"></path>
                                                    <path id="Path_728" data-name="Path 728" d="M30.027,23.7h1.931a1.01,1.01,0,0,0,.7-.279.938.938,0,0,0,.29-.673V19.9a.937.937,0,0,0-.29-.673,1.007,1.007,0,0,0-.7-.279H30.027a1.009,1.009,0,0,0-.7.279.936.936,0,0,0-.289.673v2.839a.922.922,0,0,0,.075.365.945.945,0,0,0,.215.31,1,1,0,0,0,.321.207,1.026,1.026,0,0,0,.378.073M29.938,19.9a.084.084,0,0,1,.025-.061.092.092,0,0,1,.064-.025h1.931a.093.093,0,0,1,.064.025.087.087,0,0,1,.026.061v2.839a.085.085,0,0,1-.026.061.093.093,0,0,1-.064.025H30.027a.092.092,0,0,1-.064-.025.082.082,0,0,1-.025-.061Z" transform="translate(-12.237 -7.987)"></path>
                                                    <path id="Path_729" data-name="Path 729" d="M30.027,23.7h1.931a1.01,1.01,0,0,0,.7-.279.938.938,0,0,0,.29-.673V19.9a.937.937,0,0,0-.29-.673,1.007,1.007,0,0,0-.7-.279H30.027a1.009,1.009,0,0,0-.7.279.936.936,0,0,0-.289.673v2.839a.922.922,0,0,0,.075.365.945.945,0,0,0,.215.31,1,1,0,0,0,.321.207A1.026,1.026,0,0,0,30.027,23.7ZM29.938,19.9a.084.084,0,0,1,.025-.061.092.092,0,0,1,.064-.025h1.931a.093.093,0,0,1,.064.025.087.087,0,0,1,.026.061v2.839a.085.085,0,0,1-.026.061.093.093,0,0,1-.064.025H30.027a.092.092,0,0,1-.064-.025.082.082,0,0,1-.025-.061Z" transform="translate(-12.237 -7.987)"></path>
                                                    <path id="Path_730" data-name="Path 730" d="M7.043,28.93a1.009,1.009,0,0,0,.7-.279.939.939,0,0,0,.29-.673V25.139a.938.938,0,0,0-.29-.673,1.009,1.009,0,0,0-.7-.279H5.111a1.007,1.007,0,0,0-.7.279.933.933,0,0,0-.29.673v2.839a.934.934,0,0,0,.29.673,1.007,1.007,0,0,0,.7.279Zm-2.016-.953V25.139a.085.085,0,0,1,.026-.061.091.091,0,0,1,.062-.025H7.046a.091.091,0,0,1,.062.025.085.085,0,0,1,.026.061v2.839a.078.078,0,0,1-.007.032.075.075,0,0,1-.019.028.092.092,0,0,1-.028.019.1.1,0,0,1-.034.006H5.111a.091.091,0,0,1-.062-.025.086.086,0,0,1-.027-.059Z" transform="translate(-1.737 -10.193)"></path>
                                                    <path id="Path_731" data-name="Path 731" d="M7.043,28.93a1.009,1.009,0,0,0,.7-.279.939.939,0,0,0,.29-.673V25.139a.938.938,0,0,0-.29-.673,1.009,1.009,0,0,0-.7-.279H5.111a1.007,1.007,0,0,0-.7.279.933.933,0,0,0-.29.673v2.839a.934.934,0,0,0,.29.673,1.007,1.007,0,0,0,.7.279Zm-2.016-.953V25.139a.085.085,0,0,1,.026-.061.091.091,0,0,1,.062-.025H7.046a.091.091,0,0,1,.062.025.085.085,0,0,1,.026.061v2.839a.078.078,0,0,1-.007.032.075.075,0,0,1-.019.028.092.092,0,0,1-.028.019.1.1,0,0,1-.034.006H5.111a.091.091,0,0,1-.062-.025.086.086,0,0,1-.027-.059Z" transform="translate(-1.737 -10.193)"></path>
                                                    <path id="Path_732" data-name="Path 732" d="M45.3,13.215H43.372a1.011,1.011,0,0,0-.7.279.94.94,0,0,0-.29.673v2.839a.94.94,0,0,0,.29.673,1.009,1.009,0,0,0,.7.279H45.3a1.009,1.009,0,0,0,.7-.279.937.937,0,0,0,.29-.673V14.168a.937.937,0,0,0-.29-.673,1.011,1.011,0,0,0-.7-.279m.089,3.794a.093.093,0,0,1-.006.033.091.091,0,0,1-.019.028.08.08,0,0,1-.029.019.084.084,0,0,1-.034.007H43.372a.094.094,0,0,1-.062-.025.085.085,0,0,1-.026-.061V14.17a.083.083,0,0,1,.026-.06.083.083,0,0,1,.028-.019.087.087,0,0,1,.034-.006H45.3a.087.087,0,0,1,.034.006.083.083,0,0,1,.028.019.078.078,0,0,1,.026.06Z" transform="translate(-17.861 -5.569)"></path>
                                                    <path id="Path_733" data-name="Path 733" d="M45.3,13.215H43.372a1.011,1.011,0,0,0-.7.279.94.94,0,0,0-.29.673v2.839a.94.94,0,0,0,.29.673,1.009,1.009,0,0,0,.7.279H45.3a1.009,1.009,0,0,0,.7-.279.937.937,0,0,0,.29-.673V14.168a.937.937,0,0,0-.29-.673A1.011,1.011,0,0,0,45.3,13.215Zm.089,3.794a.093.093,0,0,1-.006.033.091.091,0,0,1-.019.028.08.08,0,0,1-.029.019.084.084,0,0,1-.034.007H43.372a.094.094,0,0,1-.062-.025.085.085,0,0,1-.026-.061V14.17a.083.083,0,0,1,.026-.06.083.083,0,0,1,.028-.019.087.087,0,0,1,.034-.006H45.3a.087.087,0,0,1,.034.006.083.083,0,0,1,.028.019.078.078,0,0,1,.026.06Z" transform="translate(-17.861 -5.569)"></path>
                                                    <path id="Path_734" data-name="Path 734" d="M28.947,5.328H23.112V3.394a1.207,1.207,0,0,0,.554-.43,1.142,1.142,0,0,0,.209-.654V1.244A1.147,1.147,0,0,0,23.52.418a1.236,1.236,0,0,0-.858-.343H12.324a.459.459,0,0,0-.172.033A.447.447,0,0,0,12.006.2a.439.439,0,0,0-.1.141.421.421,0,0,0,0,.332.437.437,0,0,0,.1.141.448.448,0,0,0,.146.094.47.47,0,0,0,.172.033H22.662a.318.318,0,0,1,.222.088.3.3,0,0,1,.068.1.293.293,0,0,1,.024.115V2.309a.3.3,0,0,1-.091.213.318.318,0,0,1-.222.089H8.218a.315.315,0,0,1-.12-.023A.308.308,0,0,1,8,2.522a.3.3,0,0,1-.068-.1A.284.284,0,0,1,7.9,2.309V1.244a.284.284,0,0,1,.024-.115A.3.3,0,0,1,8,1.031.315.315,0,0,1,8.218.943h2.305a.458.458,0,0,0,.318-.127.423.423,0,0,0,0-.614.46.46,0,0,0-.318-.127H8.218A1.236,1.236,0,0,0,7.36.418,1.147,1.147,0,0,0,7,1.244V2.309a1.139,1.139,0,0,0,.209.655,1.207,1.207,0,0,0,.554.429V5.328H1.932a1.9,1.9,0,0,0-1.313.525A1.758,1.758,0,0,0,.075,7.118V29.205a.422.422,0,0,0,.034.166.43.43,0,0,0,.1.141.448.448,0,0,0,.146.094.459.459,0,0,0,.172.033H30.354a.46.46,0,0,0,.318-.127.428.428,0,0,0,.131-.307V7.118a1.758,1.758,0,0,0-.544-1.265,1.9,1.9,0,0,0-1.313-.525M8.667,3.478h13.54V17.225h-8.94a9.066,9.066,0,0,0-4.6,1.245ZM7.884,20.125a7.994,7.994,0,0,1,2-1.3v1.991a2.593,2.593,0,0,1-.8,1.865,2.8,2.8,0,0,1-1.935.773H4.588a4.738,4.738,0,0,1,.672-.808S7.8,20.2,7.879,20.129ZM.976,7.118a.908.908,0,0,1,.281-.654.979.979,0,0,1,.679-.271H7.768V19.077a8.844,8.844,0,0,0-.741.638l-2.4,2.313a5.542,5.542,0,0,0-1.7,3.854H.976ZM29.9,25.882H24.568a.456.456,0,0,0-.318.127.422.422,0,0,0,0,.613.456.456,0,0,0,.318.127H29.9v2.023H.976V26.75H22.767a.458.458,0,0,0,.318-.127.422.422,0,0,0,0-.613.458.458,0,0,0-.318-.127H16.88V21.74a1.579,1.579,0,0,0-.489-1.136,1.7,1.7,0,0,0-1.179-.472H13.628a1.7,1.7,0,0,0-1.179.472,1.579,1.579,0,0,0-.489,1.136v4.141H3.829v-.093a4.546,4.546,0,0,1,.313-1.473H7.15a3.711,3.711,0,0,0,2.571-1.028,3.446,3.446,0,0,0,1.067-2.477V18.476H10.8a8.2,8.2,0,0,1,2.367-.378H29.9Zm-17.045,0V21.74a.728.728,0,0,1,.225-.524A.782.782,0,0,1,13.628,21h1.584a.783.783,0,0,1,.543.216.728.728,0,0,1,.225.524v4.141Zm12.594-8.657V14.979a.085.085,0,0,1,.027-.06.09.09,0,0,1,.062-.025h1.931a.085.085,0,0,1,.034.006.08.08,0,0,1,.029.019.079.079,0,0,1,.02.028.078.078,0,0,1,.007.032v2.247Zm4.451,0H28.464V14.979a.934.934,0,0,0-.29-.673,1.007,1.007,0,0,0-.7-.279H25.542a1.008,1.008,0,0,0-.7.279.939.939,0,0,0-.29.673v2.247H23.113V6.2h5.836a.978.978,0,0,1,.679.271.907.907,0,0,1,.281.654Z" transform="translate(-0.032 -0.032)"></path>
                                                    <path id="Path_735" data-name="Path 735" d="M28.947,5.328H23.112V3.394a1.207,1.207,0,0,0,.554-.43,1.142,1.142,0,0,0,.209-.654V1.244A1.147,1.147,0,0,0,23.52.418a1.236,1.236,0,0,0-.858-.343H12.324a.459.459,0,0,0-.172.033A.447.447,0,0,0,12.006.2a.439.439,0,0,0-.1.141.421.421,0,0,0,0,.332.437.437,0,0,0,.1.141.448.448,0,0,0,.146.094.47.47,0,0,0,.172.033H22.662a.318.318,0,0,1,.222.088.3.3,0,0,1,.068.1.293.293,0,0,1,.024.115V2.309a.3.3,0,0,1-.091.213.318.318,0,0,1-.222.089H8.218a.315.315,0,0,1-.12-.023A.308.308,0,0,1,8,2.522a.3.3,0,0,1-.068-.1A.284.284,0,0,1,7.9,2.309V1.244a.284.284,0,0,1,.024-.115A.3.3,0,0,1,8,1.031.315.315,0,0,1,8.218.943h2.305a.458.458,0,0,0,.318-.127.423.423,0,0,0,0-.614.46.46,0,0,0-.318-.127H8.218A1.236,1.236,0,0,0,7.36.418,1.147,1.147,0,0,0,7,1.244V2.309a1.139,1.139,0,0,0,.209.655,1.207,1.207,0,0,0,.554.429V5.328H1.932a1.9,1.9,0,0,0-1.313.525A1.758,1.758,0,0,0,.075,7.118V29.205a.422.422,0,0,0,.034.166.43.43,0,0,0,.1.141.448.448,0,0,0,.146.094.459.459,0,0,0,.172.033H30.354a.46.46,0,0,0,.318-.127.428.428,0,0,0,.131-.307V7.118a1.758,1.758,0,0,0-.544-1.265A1.9,1.9,0,0,0,28.947,5.328ZM8.667,3.478h13.54V17.225h-8.94a9.066,9.066,0,0,0-4.6,1.245ZM7.884,20.125a7.994,7.994,0,0,1,2-1.3v1.991a2.593,2.593,0,0,1-.8,1.865,2.8,2.8,0,0,1-1.935.773H4.588a4.738,4.738,0,0,1,.672-.808S7.8,20.2,7.879,20.129ZM.976,7.118a.908.908,0,0,1,.281-.654.979.979,0,0,1,.679-.271H7.768V19.077a8.844,8.844,0,0,0-.741.638l-2.4,2.313a5.542,5.542,0,0,0-1.7,3.854H.976ZM29.9,25.882H24.568a.456.456,0,0,0-.318.127.422.422,0,0,0,0,.613.456.456,0,0,0,.318.127H29.9v2.023H.976V26.75H22.767a.458.458,0,0,0,.318-.127.422.422,0,0,0,0-.613.458.458,0,0,0-.318-.127H16.88V21.74a1.579,1.579,0,0,0-.489-1.136,1.7,1.7,0,0,0-1.179-.472H13.628a1.7,1.7,0,0,0-1.179.472,1.579,1.579,0,0,0-.489,1.136v4.141H3.829v-.093a4.546,4.546,0,0,1,.313-1.473H7.15a3.711,3.711,0,0,0,2.571-1.028,3.446,3.446,0,0,0,1.067-2.477V18.476H10.8a8.2,8.2,0,0,1,2.367-.378H29.9Zm-17.045,0V21.74a.728.728,0,0,1,.225-.524A.782.782,0,0,1,13.628,21h1.584a.783.783,0,0,1,.543.216.728.728,0,0,1,.225.524v4.141Zm12.594-8.657V14.979a.085.085,0,0,1,.027-.06.09.09,0,0,1,.062-.025h1.931a.085.085,0,0,1,.034.006.08.08,0,0,1,.029.019.079.079,0,0,1,.02.028.078.078,0,0,1,.007.032v2.247Zm4.451,0H28.464V14.979a.934.934,0,0,0-.29-.673,1.007,1.007,0,0,0-.7-.279H25.542a1.008,1.008,0,0,0-.7.279.939.939,0,0,0-.29.673v2.247H23.113V6.2h5.836a.978.978,0,0,1,.679.271.907.907,0,0,1,.281.654Z" transform="translate(-0.032 -0.032)"></path>
                                                </g>
                                            </g>
                                        </svg>
                                        <span>Basic Infrastructure</span>
                                    </div>
                                </th>
                                <th  class="width-332 primary-text ">
                                    <div class="d-flex ">
                                        <svg class="fillprimary-bg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Group_1717" data-name="Group 1717" viewBox="0 0 30.378 29.651">
                                            <defs>
                                                <clipPath id="clip-path">
                                                    <rect id="Rectangle_11762" data-name="Rectangle 11762" width="30.378" height="29.651"></rect>
                                                </clipPath>
                                            </defs>
                                            <g id="Group_1716" data-name="Group 1716" transform="translate(0 0)" clip-path="url(#clip-path)">
                                                <path id="Path_708" data-name="Path 708" d="M25.214,8.493a5.2,5.2,0,0,0-3.379,1.24L19.627,7.909a5.122,5.122,0,0,0-.02-5.533A5.214,5.214,0,0,0,10.27,3.594a5.132,5.132,0,0,0,1.423,5.349L8.056,12.149a5.246,5.246,0,0,0-7.09,1.345,5.146,5.146,0,0,0,1.048,7.083,5.251,5.251,0,0,0,7.181-.73A5.145,5.145,0,0,0,8.771,12.7L12.408,9.5a5.224,5.224,0,0,0,6.68-.881l2.12,1.751a5.123,5.123,0,0,0-.1,6.446,5.22,5.22,0,0,0,8.777-.9,5.127,5.127,0,0,0-1.423-6.291,5.225,5.225,0,0,0-3.251-1.13M9.548,16.481a4.249,4.249,0,0,1-.726,2.374A4.3,4.3,0,0,1,6.888,20.43a4.336,4.336,0,0,1-4.7-.927,4.253,4.253,0,0,1,.653-6.575,4.335,4.335,0,0,1,5.442.533,4.261,4.261,0,0,1,1.263,3.02m5.678-7.044a4.341,4.341,0,0,1-2.395-.72,4.251,4.251,0,0,1-.653-6.575,4.329,4.329,0,0,1,6.631.648,4.242,4.242,0,0,1-.538,5.395,4.332,4.332,0,0,1-3.046,1.252Zm9.987,8.488a4.341,4.341,0,0,1-2.356-.694,4.287,4.287,0,0,1-1.589-1.859,4.244,4.244,0,0,1,.771-4.608.449.449,0,0,0,.161-.1.429.429,0,0,0,.1-.16,4.339,4.339,0,0,1,5.737-.078,4.258,4.258,0,0,1-.815,7.008,4.339,4.339,0,0,1-2.012.493Z" transform="translate(-0.037 -0.005)"></path>
                                                <path id="Path_709" data-name="Path 709" d="M9.626,23.586h-3.8a.449.449,0,0,0-.315.129.44.44,0,0,0-.131.313v5.66A.44.44,0,0,0,5.507,30a.449.449,0,0,0,.315.129H9.627A.45.45,0,0,0,9.942,30a.44.44,0,0,0,.131-.313v-5.66a.44.44,0,0,0-.034-.17.457.457,0,0,0-.1-.143.451.451,0,0,0-.145-.1.445.445,0,0,0-.171-.033M9.18,29.245H6.271V24.471H9.18Z" transform="translate(-0.145 -0.478)"></path>
                                                <path id="Path_710" data-name="Path 710" d="M28.554,23.586H24.749a.451.451,0,0,0-.316.129.443.443,0,0,0-.13.313v5.66a.443.443,0,0,0,.13.313.451.451,0,0,0,.316.129h3.805A.45.45,0,0,0,28.869,30a.443.443,0,0,0,.13-.313v-5.66a.443.443,0,0,0-.13-.313.45.45,0,0,0-.316-.129m-.446,5.659H25.2V24.471h2.909Z" transform="translate(-0.525 -0.478)"></path>
                                                <path id="Path_711" data-name="Path 711" d="M15.936,25.327a.45.45,0,0,0,.316-.129.443.443,0,0,0,.13-.313V18.253a.444.444,0,0,0-.13-.314.45.45,0,0,0-.316-.129H12.131a.451.451,0,0,0-.316.129.444.444,0,0,0-.13.314V29.57a.44.44,0,0,0,.13.313.448.448,0,0,0,.316.13h3.805a.446.446,0,0,0,.316-.13.44.44,0,0,0,.13-.313V26.948a.423.423,0,0,0-.023-.181.429.429,0,0,0-.093-.156.448.448,0,0,0-.658,0,.443.443,0,0,0-.093.156.439.439,0,0,0-.023.181v2.18H12.584V18.695h2.909v6.19a.444.444,0,0,0,.129.312.452.452,0,0,0,.314.13" transform="translate(-0.272 -0.362)"></path>
                                                <path id="Path_712" data-name="Path 712" d="M22.245,20.7H18.44a.448.448,0,0,0-.316.13.44.44,0,0,0-.13.313v8.488a.444.444,0,0,0,.13.313.462.462,0,0,0,.145.1.441.441,0,0,0,.171.033h3.805a.441.441,0,0,0,.171-.033.451.451,0,0,0,.145-.1.433.433,0,0,0,.13-.313V21.141a.44.44,0,0,0-.13-.313.446.446,0,0,0-.316-.13M21.8,29.186H18.89v-7.6H21.8Z" transform="translate(-0.398 -0.42)"></path>
                                                <path id="Path_713" data-name="Path 713" d="M17.345,3.949H17a1.544,1.544,0,0,0-.293-.627h.641a.316.316,0,0,0,.214-.1.311.311,0,0,0,0-.432.316.316,0,0,0-.214-.1H14.18a.316.316,0,0,0-.214.1.311.311,0,0,0,0,.432.316.316,0,0,0,.214.1h1.266a.96.96,0,0,1,.545.173.945.945,0,0,1,.344.454H14.178a.319.319,0,0,0-.214.1.314.314,0,0,0,.214.53h2.157a.941.941,0,0,1-.344.454.953.953,0,0,1-.545.174H14.18A.318.318,0,0,0,14,5.258a.31.31,0,0,0-.117.141.3.3,0,0,0-.018.181.312.312,0,0,0,.086.161l2.531,2.51a.319.319,0,0,0,.44-.008.314.314,0,0,0,.008-.436L14.941,5.832h.5a1.592,1.592,0,0,0,1-.354,1.572,1.572,0,0,0,.55-.9h.349a.315.315,0,0,0,.214-.1.31.31,0,0,0,0-.433.319.319,0,0,0-.214-.1Z" transform="translate(-0.315 -0.059)"></path>
                                                <path id="Path_714" data-name="Path 714" d="M27.272,12.64h-.35a1.544,1.544,0,0,0-.293-.627h.641a.32.32,0,0,0,.214-.1.311.311,0,0,0,0-.432.316.316,0,0,0-.214-.1H24.107a.326.326,0,0,0-.126.02.313.313,0,0,0,0,.589.326.326,0,0,0,.126.02h1.265a.96.96,0,0,1,.545.173.945.945,0,0,1,.344.454H24.1a.319.319,0,0,0-.214.1.314.314,0,0,0,.214.53h2.157a.941.941,0,0,1-.344.454.951.951,0,0,1-.545.174H24.107a.316.316,0,0,0-.293.194.314.314,0,0,0,.069.342l2.531,2.51a.319.319,0,0,0,.44-.008.314.314,0,0,0,.008-.436l-1.991-1.975h.5a1.592,1.592,0,0,0,1-.354,1.572,1.572,0,0,0,.55-.9h.349a.313.313,0,0,0,.214-.53.319.319,0,0,0-.214-.1Z" transform="translate(-0.514 -0.233)"></path>
                                                <path id="Path_715" data-name="Path 715" d="M6.919,15.369H6.572a1.544,1.544,0,0,0-.293-.627h.641a.316.316,0,0,0,.214-.1.311.311,0,0,0,0-.432.32.32,0,0,0-.214-.1H3.755a.321.321,0,0,0-.125.02.311.311,0,0,0-.109.067.306.306,0,0,0-.073.1.314.314,0,0,0,0,.248.306.306,0,0,0,.073.1.311.311,0,0,0,.109.067.321.321,0,0,0,.125.02H5.021a.959.959,0,0,1,.545.173.945.945,0,0,1,.344.454H3.755a.3.3,0,0,0-.125.02.311.311,0,0,0-.109.067.306.306,0,0,0-.073.1.314.314,0,0,0,0,.248.306.306,0,0,0,.073.1.326.326,0,0,0,.109.067A.3.3,0,0,0,3.755,16H5.912a.949.949,0,0,1-.89.628H3.755a.318.318,0,0,0-.175.053A.315.315,0,0,0,3.445,17a.321.321,0,0,0,.087.161l2.531,2.51a.317.317,0,0,0,.439-.008.312.312,0,0,0,.009-.436L4.52,17.252h.5a1.59,1.59,0,0,0,1-.354,1.568,1.568,0,0,0,.551-.9h.348a.313.313,0,0,0,.214-.53.319.319,0,0,0-.214-.1" transform="translate(-0.106 -0.288)"></path>
                                            </g>
                                        </svg>
                                        <span>Financial Inclusion, Skill Development & Social Security</span>
                                    </div>
                                </th>
                                <th width="118" class="sum-row">Total</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                var count = 1;
                            }
                            @foreach (var item in ListSectorData.Result)
                            {
                                var item2 = @ListSectorTotalData.Result.Where(u => u.Month == item.Month);
                                //Hnjan
                                decimal percent;
                                int totalHN = @item2.Select(u => u.HN).FirstOrDefault();
                                int hn100perenteredjan = @item.HN;
                                if (@hn100perenteredjan == 0)
                                {
                                    percent = 0;
                                }
                                else
                                {
                                    percent = (@hn100perenteredjan * 100) / totalHN;
                                }
                                string percentclasshn = string.Empty;
                                if (percent == 100)
                                {
                                    percentclasshn = "back-green";
                                }
                                else if (percent >= 50)
                                {
                                    percentclasshn = "back-yellow";
                                }
                                else if (percent != 0 && percent <= 50)
                                {
                                    percentclasshn = "back-red";
                                }
                                else
                                {
                                    percentclasshn = "font-weight-bold";
                                }
                                //EdPer

                                int totalED = @item2.Select(u => u.EDU).FirstOrDefault();
                                int ed100perenteredjan = @item.EDU;
                                if (@ed100perenteredjan == 0)
                                {
                                    percent = 0;
                                }
                                else
                                {
                                    percent = (@ed100perenteredjan * 100) / totalED;
                                }
                                string percentclassed = string.Empty;
                                if (percent == 100)
                                {
                                    percentclassed = "back-green";
                                }
                                else if (percent >= 50)
                                {
                                    percentclassed = "back-yellow";
                                }
                                else if (percent != 0 && percent <= 50)
                                {
                                    percentclassed = "back-red";
                                }
                                else
                                {
                                    percentclassed = "font-weight-bold";
                                }
                                //AgPer

                                int totalAG = @item2.Select(u => u.AGRI).FirstOrDefault();
                                int ed100perenteragjan = @item.AGRI;
                                if (@ed100perenteragjan == 0)
                                {
                                    percent = 0;
                                }
                                else
                                {
                                    percent = (@ed100perenteragjan * 100) / totalAG;
                                }
                                string percentclassag = string.Empty;
                                if (percent == 100)
                                {
                                    percentclassag = "back-green";
                                }
                                else if (percent >= 50)
                                {
                                    percentclassag = "back-yellow";
                                }
                                else if (percent != 0 && percent <= 50)
                                {
                                    percentclassag = "back-red";
                                }
                                else
                                {
                                    percentclassag = "font-weight-bold";
                                }
                                //Perbs

                                int totalBS = @item2.Select(u => u.BASINFRA).FirstOrDefault();
                                int ed100perenterbsjan = @item.BASINFRA;
                                if (@ed100perenterbsjan == 0)
                                {
                                    percent = 0;
                                }
                                else
                                {
                                    percent = (@ed100perenterbsjan * 100) / totalBS;
                                }
                                string percentclassbs = string.Empty;
                                if (percent == 100)
                                {
                                    percentclassbs = "back-green";
                                }
                                else if (percent >= 50)
                                {
                                    percentclassbs = "back-yellow";
                                }
                                else if (percent != 0 && percent <= 50)
                                {
                                    percentclassbs = "back-red";
                                }
                                else
                                {
                                    percentclassbs = "font-weight-bold";
                                }
                                //Perbs

                                int totalFin = @item2.Select(u => u.FINACIAL).FirstOrDefault();
                                int ed100perenterfinjan = @item.FINACIAL;
                                if (@ed100perenterfinjan == 0)
                                {
                                    percent = 0;
                                }
                                else
                                {
                                    percent = (@ed100perenterfinjan * 100) / totalFin;
                                }
                                string percentclassfin = string.Empty;
                                if (percent == 100)
                                {
                                    percentclassfin = "back-green";
                                }
                                else if (percent >= 50)
                                {
                                    percentclassfin = "back-yellow";
                                }
                                else if (percent != 0 && percent <= 50)
                                {
                                    percentclassfin = "back-red";
                                }
                                else
                                {
                                    percentclassfin = "font-weight-bold";
                                }
                                //Pertot

                                int totalTot = @item2.Select(u => u.TOTAL).FirstOrDefault();
                                int ed100perenterTotjan = @item.HN + @item.AGRI + @item.EDU + @item.BASINFRA + @item.FINACIAL;
                                if (@ed100perenterTotjan == 0)
                                {
                                    percent = 0;
                                }
                                else
                                {
                                    percent = (@ed100perenterTotjan * 100) / totalTot;
                                }
                                string percentclasstot = string.Empty;
                                if (percent == 100)
                                {
                                    percentclasstot = "back-green";
                                }
                                else if (percent >= 50)
                                {
                                    percentclasstot = "back-yellow";
                                }
                                else if (percent != 0 && percent <= 50)
                                {
                                    percentclasstot = "back-red";
                                }
                                else
                                {
                                    percentclasstot = "font-weight-bold";
                                }
                                <tr>
                                    <td>@count</td>
                                    <td class="font-weight-bold">@item.Month</td>
                                    <td class="text-center"><span class="@percentclasshn">@item.HN</span> /@item2.Select(u => u.HN).FirstOrDefault() </td>
                                    <td class="text-center"><span class="@percentclassed">@item.EDU</span> /@item2.Select(u => u.EDU).FirstOrDefault() </td>
                                    <td class="text-center"><span class="@percentclassag">@item.AGRI</span> / @item2.Select(u => u.AGRI).FirstOrDefault()</td>

                                    <td class="text-center"><span class="@percentclassbs">@item.BASINFRA</span> /@item2.Select(u => u.BASINFRA).FirstOrDefault() </td>
                                    <td class="text-center"><span class="@percentclassfin">@item.FINACIAL</span> /@item2.Select(u => u.FINACIAL).FirstOrDefault() </td>
                                    <td><span class="@percentclasstot">@(item.HN+item.AGRI+item.EDU+item.BASINFRA+item.FINACIAL)</span> / @item2.Select(u => u.TOTAL).FirstOrDefault()</td>
                                </tr>
                                count = count + 1;
                            }

                        </tbody>

                       
                        <tfoot>
                            <tr class="sum-row">
                                @{
                                    //Hnjan
                                    decimal percent1;
                                    int totalHN1 = @ListSectorTotalData.Result.Select(u => u.HN).Sum();
                                    int hn100perenteredjan1 = @ListSectorData.Result.Select(u => u.HN).Sum();
                                    if (@hn100perenteredjan1 == 0)
                                    {
                                        percent1 = 0;
                                    }
                                    else
                                    {
                                        percent1 = (@hn100perenteredjan1 * 100) / totalHN1;
                                    }
                                    string percentclasshn1 = string.Empty;
                                    if (percent1 == 100)
                                    {
                                        percentclasshn1 = "back-green";
                                    }
                                    else if (percent1 >= 50)
                                    {
                                        percentclasshn1 = "back-yellow";
                                    }
                                    else if (percent1 != 0 && percent1 <= 50)
                                    {
                                        percentclasshn1 = "back-red";
                                    }
                                    else
                                    {
                                        percentclasshn1 = "font-weight-bold";
                                    }
                                    //Edujan

                                    int totalEDU1 = @ListSectorTotalData.Result.Select(u => u.EDU).Sum();
                                    int hn100perenteredujan1 = @ListSectorData.Result.Select(u => u.EDU).Sum();
                                    if (@hn100perenteredujan1 == 0)
                                    {
                                        percent1 = 0;
                                    }
                                    else
                                    {
                                        percent1 = (@hn100perenteredujan1 * 100) / totalEDU1;
                                    }
                                    string percentclassedu1 = string.Empty;
                                    if (percent1 == 100)
                                    {
                                        percentclassedu1 = "back-green";
                                    }
                                    else if (percent1 >= 50)
                                    {
                                        percentclassedu1 = "back-yellow";
                                    }
                                    else if (percent1 != 0 && percent1 <= 50)
                                    {
                                        percentclassedu1 = "back-red";
                                    }
                                    else
                                    {
                                        percentclassedu1 = "font-weight-bold";
                                    }
                                    //Agrijan

                                    int totalAgri1 = @ListSectorTotalData.Result.Select(u => u.AGRI).Sum();
                                    int hn100perenteragrijan1 = @ListSectorData.Result.Select(u => u.AGRI).Sum();
                                    if (hn100perenteragrijan1 == 0)
                                    {
                                        percent1 = 0;
                                    }
                                    else
                                    {
                                        percent1 = (hn100perenteragrijan1 * 100) / totalEDU1;
                                    }
                                    string percentclassagri1 = string.Empty;
                                    if (percent1 == 100)
                                    {
                                        percentclassagri1 = "back-green";
                                    }
                                    else if (percent1 >= 50)
                                    {
                                        percentclassagri1 = "back-yellow";
                                    }
                                    else if (percent1 != 0 && percent1 <= 50)
                                    {
                                        percentclassagri1 = "back-red";
                                    }
                                    else
                                    {
                                        percentclassagri1 = "font-weight-bold";
                                    }
                                    //BASINFRAijan

                                    int totalInfra1 = @ListSectorTotalData.Result.Select(u => u.BASINFRA).Sum();
                                    int hn100perenterinfrajan1 = @ListSectorData.Result.Select(u => u.BASINFRA).Sum();
                                    if (hn100perenterinfrajan1 == 0)
                                    {
                                        percent1 = 0;
                                    }
                                    else
                                    {
                                        percent1 = (hn100perenteragrijan1 * 100) / totalInfra1;
                                    }
                                    string percentclassinfra1 = string.Empty;
                                    if (percent1 == 100)
                                    {
                                        percentclassinfra1 = "back-green";
                                    }
                                    else if (percent1 >= 50)
                                    {
                                        percentclassinfra1 = "back-yellow";
                                    }
                                    else if (percent1 != 0 && percent1 <= 50)
                                    {
                                        percentclassinfra1 = "back-red";
                                    }
                                    else
                                    {
                                        percentclassinfra1 = "font-weight-bold";
                                    }
                                    //BASINFRAijan

                                    int totalfin1 = @ListSectorTotalData.Result.Select(u => u.FINACIAL).Sum();
                                    int hn100perenterfinjan1 = @ListSectorData.Result.Select(u => u.FINACIAL).Sum();
                                    if (hn100perenterfinjan1 == 0)
                                    {
                                        percent1 = 0;
                                    }
                                    else
                                    {
                                        percent1 = (hn100perenterfinjan1 * 100) / totalfin1;
                                    }
                                    string percentclassfin1 = string.Empty;
                                    if (percent1 == 100)
                                    {
                                        percentclassfin1 = "back-green";
                                    }
                                    else if (percent1 >= 50)
                                    {
                                        percentclassfin1 = "back-yellow";
                                    }
                                    else if (percent1 != 0 && percent1 <= 50)
                                    {
                                        percentclassfin1 = "back-red";
                                    }
                                    else
                                    {
                                        percentclassfin1 = "font-weight-bold";
                                    }
                                }
                                <td id="sum-hn">Total</td>
                                <td class="font-weight-bold">All</td>
                                <td id="sum-hn" class="text-center"><span class="@percentclasshn1">@ListSectorData.Result.Select(u => u.HN).Sum()</span> / @ListSectorTotalData.Result.Select(u => u.HN).Sum()</td>
                                
                                <td id="sum-edu" class="text-center"> <span class="@percentclassedu1">@ListSectorData.Result.Select(u => u.EDU).Sum()</span>/@ListSectorTotalData.Result.Select(u => u.EDU).Sum()</td>
                                <td id="sum-agri" class="text-center"> <span class="@percentclassagri1">@ListSectorData.Result.Select(u => u.AGRI).Sum()</span>/@ListSectorTotalData.Result.Select(u => u.AGRI).Sum()</td>

                                <td id="sum-basinfra" class="text-center"><span class="@percentclassinfra1">@ListSectorData.Result.Select(u => u.BASINFRA).Sum()</span>/@ListSectorTotalData.Result.Select(u => u.BASINFRA).Sum()</td>
                                <td id="sum-financial" class="text-center"><span class="@percentclassfin1">@ListSectorData.Result.Select(u => u.FINACIAL).Sum()</span>/@ListSectorTotalData.Result.Select(u => u.FINACIAL).Sum()</td>
                                <td id="sum-total" class="font-weight-bold "> @ListSectorYearTotalData.Result.Select(u => u.TOTAL).Sum()/@ListSectorTotalData.Result.Select(u => u.TOTAL).Sum()</td>


                            </tr>
                        </tfoot>
                    </table>
                    }
                </div>
            </div>
            

        </div>


    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
<script src="~/js/exportToExcel.js"></script>
<script>
    $(document).ready(function () {
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
        gl = decodeURI(getUrlVars()["Glink"]);
        pl = decodeURI(getUrlVars()["Plink"]);
        if (gl == 'undefined') {
            gl = 0;
        }
        if (pl == 'undefined') {
            pl = 0;
        }
        $('#printtablepfshide').hide();
        
        if (@HttpContextAccessor.HttpContext.Session.GetInt32("_HRMSSTATUS") == 0) {
            bootbox.confirm({
                size: "medium",
                message: "Do you want to change your Password?",
                callback: function (result) {
                    if (result == true) {
                        window.location.href = "/Login/ChangePasswordReq?Hid=@HttpContextAccessor.HttpContext.Session.GetString("_EncryptUserName")";

                    }
                }
            });
        }
         if (@ViewBag.bid!= '0') {
            BindBlockData(@ViewBag.bid);
        }

        if($("#ddlDist").val()=='0'){
         BindBlockData(0);
        }
    });
   

</script>
<script>
    $('#btnSearch').click(function () {
       
        //  $("#hdnDistrict").val($('#ddlDistrict option:selected').text());
        if ($('#ddlYear').val() == 0) {
            bootbox.alert('Please Select  year!');
            return false;
        }
        else if ($('#ddlDistrict').val() == 0) {
            bootbox.alert('Please Select  District!');
            return false;
        }
        else if ($('#ddlBlock').val() == 0) {
            bootbox.alert('Please Select  Block!');
            return false;
        }
    })
</script>
<script>
    function generate() {
        debugger;
        var doc = new jsPDF('p', 'pt', 'letter');
        var htmlstring = '';
        var tempVarToCheckPageHeight = 0;
        var pageHeight = 0;
        var img = new Image();
        img.src = '../images/Odisha_logo_Black.png';
        pageHeight = doc.internal.pageSize.height;
        specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector
            '#bypassme': function (element, renderer) {
                // true = "handled elsewhere, bypass text extraction"
                return true
            }
        };
        margins = {
            top: 150,
            bottom: 60,
            left: 40,
            right: 40,
            width: 600
        };
        var y = 20;
        var show = $('#printtable').html();
        doc.setLineWidth(2);
        doc.addImage(img, 'png', 40, 10, 50, 50);
        doc.fromHTML("<b style='font-size:25px'>Block Monitoring Programme</b>", 90, 8);
        // doc.fromHTML("<p style='font-size:20px'>Government of Odisha</p>", 95, 22);
        // doc.text(50, y = y + 45, show);
        doc.autoTable({
            html: '#printtable',
            startY: 100,
            theme: 'grid',
            styles: {
                minCellHeight: 40
            }
        })
        doc.save('SectorEntryPerformance.pdf');
    }
    $("input:checkbox").on('click', function () {
        var $box = $(this);
        if ($box.is(":checked")) {
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });
</script>

<script>
    //print function work
    function PrintPagePF() {

        var windowName = "PrintPagePF";
        var wOption = "width=900,height=600,menubar=yes,scrollbars=yes,location=no,left=100,top=100";
        var cloneTable = $("#printtablepfs").clone();
        var head = $('#printtablepfs thead tr');

        cloneTable.find('input[type=text],select,textarea').each(function () {
            var elementType = $(this).prop('tagName');
            if (elementType == 'SELECT') {

                if ($(this).val() > 0)
                    var textVal = $(this).find("option:selected").text();
                else
                    textVal = '';
            } else
                var textVal = $(this).val();
            $(this).replaceWith('<label>' + textVal + '</label>');
        });
        cloneTable.find('a').each(function () {
            var anchorVal = $(this).html();
            $(this).replaceWith('<label>' + anchorVal + '</label>');
        });
        var selectdist = $("#ddlDistrict").val();
        var sdata = "";
        if (selectdist == 0) {
            sdata = "All";

        }
        else {
            sdata = $("#ddlDistrict").find("option:selected").text();

        }
        var bdata = "";
        //alert($("#ddlBlock").val());
        var selectblock = $("#ddlBlock").val();
        if (selectblock == 0) {
            bdata = "All";

        }
        else {
            bdata = $("#ddlBlock").find("option:selected").text();

        }
        var pageTitle = $("#title").text();
        var wWinPrint = window.open("/", windowName, wOption);
        wWinPrint.document.write('\x3Cscript type="text/javascript" src="../../js/print.js">\x3C/script>');
        wWinPrint.document.write("<html><head><link href='../../css/bootstrap.min.css' rel='stylesheet'><link href='../../css/print.css' rel='stylesheet'><link href='../../css/custom.css' rel='stylesheet'><title>Block Monitoring Programme</title></head><body>");
        wWinPrint.document.write("<div id='header' class='mb-2 d-flex align-items-center justify-content-between'><h4 class='d-flex align-items-center'><img src='../images/Odisha_logo_Black.png' alt='Block Monitoring Programme' width='70' class='mr-2'>Block Monitoring Programme </h4><div class='pull-left text_logo'><h4 class='logo'><a href='javascript:void(0)' class='btn btn-success btn-sm pull-right' style='float:right;' title='Print' onclick='$(this).hide();window.print();$(this).show();'>Print</a></h4></div></div>")
        wWinPrint.document.write("<strong style='margin-left: 19px;font - size: 17px;color:#000'>Sector Wise Data Entry Report</strong><div style='display:flex;align-items:center;'><div class='float-left year mt-0'>For the Year:- " + $("#ddlYear").val() + "</div><div class='float-left year mt-0'>District:-" + sdata + "</div><div class='float-left year mt-0'>Block:-" + bdata + "</div><div class='legend-box float-right' style='    line-height: 2px;'></div></div>" + "</div>" + "<div><button class='btn btn-primary' onclick=PrintableContent('printContent'); style='float:right;margin: 10px;margin-right: 23px;'>Print</button></div></div>");
        wWinPrint.document.write("<div id='printHeader'>" + pageTitle + "</div>");
        wWinPrint.document.write("<div id='printContent'>" + cloneTable.html() + "</div>");
        wWinPrint.document.write("<div id='printFooter' class='text-center'>&copy; 2023 - Block Monitoring Programme</div>");
        wWinPrint.document.write("</body></html>");
        wWinPrint.document.close();
        wWinPrint.focus();
        return wWinPrint;
        $('#title').append(title);
        printHeader = title;
    }

</script>
<script>
    function generateExcelD() {

        $("#printtablepfs").table2excel();
        getvisible();
    }
    function getReportname(name) {
        return "ProfermanceReportData";
        //return "BMPMonthlyDataEntryReport-" + $("#ddlSector").val() + "(" + $('#ddlFrequency').val() + ")";
    }
</script>
<script>
    function getvisible() {
        var vtable = []
        var headrow = $('#tbldata thead').find('tr').html();
        vtable.push(headrow);
        $('#tbldata tbody').find('tr:visible').each(function () {
            var temprow = '';
            if ($(this).css('display') == 'table-row') {
                temprow += '<tr>' + $(this).html() + '</tr>';
            }
            vtable.push(temprow);
        });
        return vtable;
    }
</script>





<script>

    function BindBlockData(id) {
        $.ajax({
            url: "/Department/GetBlockByDistID?id=" + $('#ddlDistrict').val(),
            type: "GET",
            success: function (data) {
                var Ghtml = '<option value="0">---Select---</option>';
                //console.log(data);
                for (var i = 0; i < data.length; i++) {
                    Ghtml += '<option value="' + data[i].blocK_CODE + '">' + data[i].blocK_NAME + '</option>'
                }
                if ($('#ddlDistrict').val() != 0) {
                    $('#ddlBlock').html(Ghtml);
                }
                else {
                    var Ghtml1 = '<option value="0">---Select---</option>';
                    $('#ddlBlock').html(Ghtml1);
                }
                $('#ddlBlock').val(id);
            },
            error: function (error) {
                jsonValue = jQuery.parseJSON(error.responseText);
                bootbox.alert("Error : " + jsonValue);
            }
        });
    }
</script>

