@model ABP.Domain.Report.AbstractData
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@{
    ViewData["Title"] = "MonthlyDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Glink = Context.Request.Query["Glink"];
    string Plink = Context.Request.Query["Plink"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ListData = ViewBag.DatapointData as Task<IEnumerable<ABP.Domain.Report.AbstractData>>;
    var year = ViewBag.year;
    var month = ViewBag.month;
    var Aspirationblock = ViewBag.Aspirationblock;
    //var ListDataYr = ViewBag.DatapointDatayearly as Task<IEnumerable<ABP.Domain.Report.Report>>;
    // var ListDpfall = ViewBag.Monthwisedp as Task<IEnumerable<ABP.Domain.Report.Report>>;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<style>

    .table tr td, .table tr th {
        padding: 5px 10px;
        vertical-align: middle;
    }

    .legend-box.legend-box2 {
        float: inherit;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    tfoot tr {
        background: #eaf1fb;
    }

    .legend-box.legend-box2 a {
        margin-bottom: 12px;
        margin-left: 16px;
    }

    .btn.btn-sm1 {
        padding: 0.2rem 0.5rem;
        font-size: .9rem;
        line-height: 1.5;
        left: 995px;
    }

    .legend-box {
        float: inherit;
    }

    .alert-secondary {
        color: #383d41;
        background-color: #e2e3e52e;
        border-color: #d6d8db;
    }

    .sum-row {
        background: #ebebeb;
    }
</style>
<div class="page-title">
    <div class="title-details">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-0 mb-0 bg-transparent" id="navigation">
                <li class="breadcrumb-item"><a href="../Home/MapData" title="Home"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item">MIS Report </li>
                <li class="breadcrumb-item font-weight-bold">Absract Entry</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">

                <div class="indicatorslist">
                    <p class="ml-2">(*) Indicates mandatory </p>
                </div>
            </div>

            <div class="card-body">
                <form method="post" id="search">
                    <div class="form-group row">

                        <div class="col-12 col-md-3 col-xl-3">
                            <label class="control-label" for="demo-email-input">Year<span class="text-danger">*</span></label>
                            <select class="form-control" id="ddlYear" asp-for="Year" asp-items="@(new SelectList(ViewBag.Years, "FREQUENCYNO", "FREQUENCYVALUE" ))">
                                <option value=0>--Select--</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-3 col-xl-3">
                            <input type="hidden" id="hdnDistrict" value="" />
                            <label class="control-label" for="demo-email-input">District</label>
                            <select class="form-control" id="ddlDistrict" asp-for="DISTRICTID" onchange="BindBlockData(0)"asp-items="@(new SelectList(ViewBag.DistrictData, "BLOCK_CODE", "BLOCK_NAME" ))">
                                <option value=0>All</option>
                            </select>
                        </div>
                        
                         <div class="col-12 col-md-6 col-xl-3">
                           
                            <label class="control-label" for="demo-email-input">Block</label>
                            <select class="form-control" asp-for="BLOCKID" id="ddlBlock" name="Blockid">
                                <option value="0">All</option>
                            </select>
                        </div>
                        <div id="ddindicatorhide" class="col-12 col-md-3 col-xl-3">
                            <br />
                            <button id="btnSearch" class="btn btn-primary"> Search</button>
                            @*<input action="action" onclick="window.history.go(-1); return false;" type="button" value="Back" />*@
                        </div>



                    </div>


                </form>

                <div>

                    @if (ListData != null)
                    {
                        <div class='legend-box legend-box2 '>
                            <div>
                                <a href='#' class="text-success  mb-lg-0 ml-0" id="gcheck">  <span class='back-green1'></span> <strong>100% Completed </strong> </a>
                                <a href='#' class='text-warning mb-lg-0' id="ycheck">  <span class='back-yellow1'></span>  <strong> &gt;50% Completed</strong> </a>
                                <a href='#' class='text-danger mb-lg-0' id="rcheck">  <span class='back-red1'></span>  <strong>&lt; 50% Completed </strong></a>
                            </div>
                            <div>
                                <a href="javascript:PrintPageAbs();void(0)" title="Print" id="printIcon" data-toggle="tooltip" data-placement="top" class="btn btn-sm btn-default float-md-right ml-1 mt-3"><i class="icon-printer1"></i></a>

                                <a href="javascript:generateExcelD();void(0)" title="Export to Excel" id="printIconD" data-toggle="tooltip" data-placement="top" class="btn btn-sm btn-default float-md-right mt-3"><i class="icon-excel-file"></i></a>
                            </div>

                        </div>
                    }
                    <div class="clearfix"></div>
                </div>

                <div class="table-responsive" id="printtableabs">
                    <div class="table-responsive" id="printtableabs">
                        
                        <table class="table" style="width:100%;" id="tbldata">
                            <thead>
                                <tr>
                                    <th>SlNo.</th>
                                    <th width="120px" style="text-align:left">Frequency Name </th>
                                    <th>Health & Nutrition</th>
                                    <th>Agriculture & Allied</th>
                                    <th>Education</th>
                                    <th>Basic Infrastructure</th>
                                    <th>Financial Inclusion, Skill Development & Social Security</th>
                                   
                                </tr>
                            </thead>
                            <tbody id="tblBody">
                            </tbody>
                            <tfoot>
                                <tr class="sum-row">
                                    <td></td>
                                    <td></td>
                                    <td id="sum-jan"></td>
                                    <td id="sum-feb"></td>
                                    <td id="sum-mar"></td>
                                    <td id="sum-apr"></td>
                                    <td id="sum-may"></td>
                                    
                                </tr>
                            </tfoot>
                        </table>

                    </div>

                </div>
            </div>

           
        </div>


    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
<script src="~/js/exportToExcel.js"></script>
<script>
    $(document).ready(function () {
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
        gl = decodeURI(getUrlVars()["Glink"]);
        pl = decodeURI(getUrlVars()["Plink"]);
        if (gl == 'undefined') {
            gl = 0;
        }
        if (pl == 'undefined') {
            pl = 0;
        }
        $('#printtableabscopy').hide();
        if (@HttpContextAccessor.HttpContext.Session.GetInt32("_HRMSSTATUS") == 0) {
            bootbox.confirm({
                size: "medium",
                message: "Do you want to change your Password?",
                callback: function (result) {
                    if (result == true) {
                        window.location.href = "/Login/ChangePasswordReq?Hid=@HttpContextAccessor.HttpContext.Session.GetString("_EncryptUserName")";

                    }
                }
            });
        }

    });
    $('#btnSearch').click(function () {
        //  $("#hdnDistrict").val($('#ddlDistrict option:selected').text());
        if ($('#ddlYear').val() == 0) {
            bootbox.alert('Please Select  year!');
            return false;
        }


    })
    function getvisible() {
        var vtable = []
        var headrow = $('#printtableabscopy thead').find('tr').html();
        vtable.push(headrow);
        $('#printtableabscopy tbody').find('tr').each(function () {
            var temprow = '';
            if ($(this).css('display') == 'table-row') {
                temprow += '<tr>' + $(this).html() + '</tr>';
            }
            vtable.push(temprow);
        });
        return vtable;
    }
    function generateExcelD() {
        $('#printtableabscopy').table2excel();
        getvisible();
    }
    $("#ddlDistrict").change(function () {

    })




    function getReportname(name) {
        if ($('#ddlDistrict').val() != 0) {
            return "BMPMonthlyDataEntryReport-" + $("#hdnDistrict").val() + "(" + $('#ddlYear').val() + ")";
        }
        else {
            return "BMPMonthlyDataEntryReport(" + $('#ddlYear').val() + ")";
        }
    }
</script>

<script type="text/javascript">
    $(function () {
        var trs = $("#tbldata tbody").find("tr");
        var sum = 0;
        $(trs).each(function () {
            var tds = $(this).find('td');
            sum = sum + parseFloat($(tds).eq(2).html());
        });
        $("#lblSum").html(sum);
    })
</script>
<script>
    //print function work
    function PrintPageAbs() {

        var windowName = "PrintPageAbs";
        var wOption = "width=900,height=600,menubar=yes,scrollbars=yes,location=no,left=100,top=100";
        var cloneTable = $("#printtableabs").clone();
        var head = $('#printtableabs thead tr');

        cloneTable.find('input[type=text],select,textarea').each(function () {
            var elementType = $(this).prop('tagName');
            if (elementType == 'SELECT') {

                if ($(this).val() > 0)
                    var textVal = $(this).find("option:selected").text();
                else
                    textVal = '';
            } else
                var textVal = $(this).val();
            $(this).replaceWith('<label>' + textVal + '</label>');
        });
        cloneTable.find('a').each(function () {
            var anchorVal = $(this).html();
            $(this).replaceWith('<label>' + anchorVal + '</label>');
        });
        var selectdist = $("#ddlDistrict").val();
        var sdata = "";
        if (selectdist == 0) {
            sdata = "All";

        }
        else {
            sdata = $("#ddlDistrict").find("option:selected").text();

        }

        var pageTitle = $("#title").text();
        var wWinPrint = window.open("", windowName, wOption);
        wWinPrint.document.write("<html><head><link href='../../css/bootstrap.min.css' rel='stylesheet'><link href='../../css/print.css' rel='stylesheet'><link href='../../css/custom.css' rel='stylesheet'><title>Block Monitoring Programme</title></head><body>");
        wWinPrint.document.write("<div id='header' class='mb-2 d-flex align-items-center justify-content-between'><h4 class='d-flex align-items-center'><img src='../images/Odisha_logo_Black.png' alt='Block Monitoring Programme' width='70' class='mr-2'>Block Monitoring Programme </h4><div class='pull-left text_logo'><h4 class='logo'><a href='javascript:void(0)' class='btn btn-success btn-sm pull-right' style='float:right;' title='Print' onclick='$(this).hide();window.print();$(this).show();'>Print</a></h4></div></div>")
        wWinPrint.document.write("<strong style='margin-left: 19px;font - size: 17px;color:#000'>District Wise Data Entry Abstract Report</strong><div style='display:flex;align-items:center;'><br/><div class='float-left year mt-0'>For the Year:- " + $("#ddlYear").val() + "</div><div class='float-left year mt-0'>District:-" + sdata + "</div><div class='legend-box float-right' style='    line-height: 2px;'><a href='#' style='text-decoration:none'  class='text-success mb-0'>  <span class='back-green1'></span> <strong>100% Completed </strong> </a><a href='#' style='text-decoration:none' class='text-warning mb-00'>  <span class='back-yellow1'></span>  <strong> &gt;50% Completed</strong> </a><a href='#' style='text-decoration:none' class='mb-0 text-danger'>  <span class='back-red1'></span>  <strong>&lt; 50% Completed </strong></a></div></div>");
        wWinPrint.document.write("<div id='printHeader'>" + pageTitle + "</div>");
        wWinPrint.document.write("<div id='printContent'>" + cloneTable.html() + "</div>");
        wWinPrint.document.write("<div id='printFooter' class='text-center'>&copy; 2023 - Block Monitoring Programme</div>");
        wWinPrint.document.write("</body></html>");
        wWinPrint.document.close();
        wWinPrint.focus();
        return wWinPrint;
        $('#title').append(title);
        printHeader = title;
    }

</script>
<script>

    function redirect(distid,distname) {
        var parameterValue = "DistrictId=" + distid + "&Year=" + @ViewBag.year + "&Category=" + @ViewBag.Aspirationblock + "&DistrictName=" + distname;
        var url = '@Url.Action("DashboardData", "Home")';
        url += '?' + parameterValue;
        window.location.href = url;
    };
</script>

<script>


    function generate() {
        debugger;
        var doc = new jsPDF('p', 'pt', 'letter');
        var htmlstring = '';
        var tempVarToCheckPageHeight = 0;
        var pageHeight = 0;
        var img = new Image();
        img.src = '../images/Odisha_logo_Black.png';
        pageHeight = doc.internal.pageSize.height;
        specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector
            '#bypassme': function (element, renderer) {
                // true = "handled elsewhere, bypass text extraction"
                return true
            }
        };
        margins = {
            top: 150,
            bottom: 60,
            left: 40,
            right: 40,
            width: 600
        };
        var y = 20;
        var show = $('#printtable').html();
        doc.setLineWidth(2);
        doc.addImage(img, 'png', 40, 10, 50, 50);
        doc.fromHTML("<b style='font-size:25px'>Block Monitoring Programme</b>", 90, 8);
        // doc.fromHTML("<p style='font-size:20px'>Government of Odisha</p>", 95, 22);
        // doc.text(50, y = y + 45, show);
        doc.autoTable({
            html: '#printtable',
            startY: 100,
            theme: 'grid',
            styles: {
                minCellHeight: 40
            }
        })
        doc.save('DataEntryPerformance.pdf');
    }
    $("input:checkbox").on('click', function () {
        var $box = $(this);
        if ($box.is(":checked")) {
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });
</script>

@*<script>

        const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        // Wait for the document to be ready
        function calculateAndDisplaySums() {
            // Get the table body rows
            const rows = document.querySelectorAll('#tbldata tbody tr');

            // Initialize an array to hold the sums of each column
            const sums = new Array(13).fill(0);

            // Loop through each row
            rows.forEach(row => {
                // Get the cells of the row
                const cells = row.cells;

                // Loop through each cell (starting from index 2, as we skip the 'Sl No.' and 'District' columns)
                for (let i = 2; i < cells.length; i++) {
                    // Convert the cell content to a number (remove any non-numeric characters, e.g., '/')
                    const cellContent = cells[i].innerText.replace('/', '');
                    const cellValue = parseFloat(cellContent);

                    // Add the cell value to the corresponding sum
                    sums[i] += isNaN(cellValue) ? 0 : cellValue;
                }
            });

            // Get the footer row
            const footerRow = document.querySelector('#tbldata tfoot tr.sum-row');

            // Loop through the sums array and populate the footer cells with the calculated sums
            for (let i = 2; i < sums.length; i++) {
                const sumCell = footerRow.querySelector(`#sum-${months[i - 2].toLowerCase()}`);
                sumCell.innerText = sums[i].toFixed(2); // You can format the sum as needed
            }
        });
    </script>*@
<script>


    function calculateColumnSum() {
        var table = $("#tbldata");
        var footer = table.find("tfoot");
        var columnsCount = footer.find("td").length;

        for (var i = 2; i < columnsCount; i++) { // Start from the third column (Jan), skipping the first two columns (Sl No. and District)
            var sum = 0;
            table.find("tbody tr").each(function () {
                var tdValue = $(this).find("td:nth-child(" + i + ")").text().trim();
                var value = parseFloat(tdValue.replace(",", "")); // Convert to a number, remove any commas if present

                if (!isNaN(value)) {
                    sum += value;
                }
            });
            footer.find("td:nth-child(" + i + ")").text(sum.toFixed(2)); // Show the total in the footer, rounded to 2 decimal places
        }
    }

    function BindBlockData(id) {
        $.ajax({
            url: "/Department/GetBlockByDistID?id=" + $('#ddlDistrict').val(),
            type: "GET",
            success: function (data) {
                var Ghtml = '<option value="0">---Select---</option>';
                //console.log(data);
                for (var i = 0; i < data.length; i++) {
                    Ghtml += '<option value="' + data[i].blocK_CODE + '">' + data[i].blocK_NAME + '</option>'
                }
                if ($('#ddlDistrict').val() != 0) {
                    $('#ddlBlock').html(Ghtml);
                }
                else {
                    var Ghtml1 = '<option value="0">---Select---</option>';
                    $('#ddlBlock').html(Ghtml1);
                }
                $('#ddlBlock').val(id);
            },
            error: function (error) {
                jsonValue = jQuery.parseJSON(error.responseText);
                bootbox.alert("Error : " + jsonValue);
            }
        });
    }
</script>

