@{
    ViewData["Title"] = "BlockDataEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Glink = Context.Request.Query["Glink"];
    string Plink = Context.Request.Query["Plink"];
    var ResultData = ViewBag.Result as List<ABP.Domain.Panel.ControlPanel>;
    var SectorData = ViewBag.Sector as Task<IEnumerable<ABP.Domain.Panel.Panel>>;
    var script = ViewBag.Script as string;

}
<div class="page-title">
    <div class="title-details">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-0 mb-0 bg-transparent" id="navigation">
            </ol>
        </nav>
    </div>

</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <a class="nav-item nav-link active" data-toggle="tooltip" id="BDODataAdd">

                        Add
                    </a>
                    <a class="nav-item nav-link" data-toggle="tooltip" id="BDODataView">

                        View
                    </a>
                </ul>
                <div class="indicatorslist">
                    @*<a title="" href="javascript:void(0)" id="backIcon" data-toggle="tooltip" data-placement="top" data-original-title="Back"><i class="icon-arrow-left1"></i></a>*@
                    <p class="ml-2">(*) Indicates mandatory </p>
                </div>
            </div>
            <!-- BASIC FORM ELEMENTS -->
            <!--===================================================-->
            <div class="card-body">
                <div class="d-flex justify-content-between border-bottom   mb-3">
                    <h6 class=" my-0">
                        Enter Datapoint Values
                    </h6>
                    <ul class="nav nav-tabs custom-tab mb-0 mt-3 mt-md-0">
                        <li class="nav-item">
                            <a href="/BlockData/BlockDataEntry?FreqId=2" class="nav-link" id="month-tab">Monthly</a>
                        </li>
                        @*<li class="nav-item">
                        <a href="/BlockData/BlockDataEntry?FreqId=3" class="nav-link" id="quarter-tab">Quarterly</a>
                        </li>
                        <li class="nav-item">
                        <a href="/BlockData/BlockDataEntry?FreqId=4" class="nav-link" id="halfyear-tab">Half Yearly</a>
                        </li>*@
                        <li class="nav-item">
                            <a href="/BlockData/BlockDataEntry?FreqId=5" class="nav-link" id="annual-tab">Yearly</a>
                        </li>
                    </ul>
                </div>
                <input type="hidden" id="checkotpcount" class="form-control" value=0 />
                <input type="hidden" id="hdnAppNo" class="form-control" value="@ViewBag.AppNo" />
                <div class="indicatorslist w-100 mb-2">
                    <p id="datDurationMSG" class="text-danger pull-left mr-5"></p>
                </div>
                <div class="clearfix"></div>

                @if (SectorData.Result.ToList().Count > 0)
                {
                    <div id="accordion" class="blockentry-accordian">
                        @if (SectorData.Result != null)
                        {
                            @foreach (var items in SectorData.Result)
                            {
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <a class="accordianhead" data-toggle="collapse" data-target="#collapse-@items.PANELID" aria-expanded="true" aria-controls="collapse-@items.PANELID">
                                                @items.DISPLAYNAME<span class="text-danger">*</span>

                                            </a>
                                        </h5>
                                        <div class="pr-3">
                                            <span class="fw-600 date-text">
                                                <i class="icon-calendar1"></i> @ResultData[0].FROMDATE To @ResultData[0].TODATE
                                            </span>
                                        </div>
                                    </div>
                                    @if (ResultData.Where(u => u.PANELID == items.PANELID).Count() != 0 && ResultData[0].DataEntryEligibility)
                                    {
                                        <div id="collapse-@items.PANELID" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">

                                            <div class="card-body px-0 pt-2">
                                               
                                                <div class="table-responsive mt-0">
                                                    <table data-toggle="table" class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th width="40px">Sl#</th>
                                                                <th style="display:none;"></th>
                                                                <th class="380px">DataPoint </th>
                                                                <th width="230">Provider Name </th>
                                                                <th width="100px">Value<span class="text-danger">*</span></th>
                                                                <th width="100px">UNIT<span class="text-danger"></span></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbody-@items.PANELID">
                                                            @if (ResultData != null)
                                                            {
                                                                int count = 1;
                                                                @foreach (var list in ResultData.Where(u => u.PANELID == items.PANELID))
                                                                {
                                                            <tr>
                                                                <td>@count</td>
                                                                <td style="display:none;">@list.CONTROLID</td>
                                                                <td>
                                                                    @list.DISPLAYNAME
                                                                    @if (list.DESCRIPTION != null)
                                                                    {
                                                                        <i class="fa fa-info-circle text-success" style="cursor:help" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-original-title="@list.DESCRIPTION"></i>
                                                                    }
                                                                </td>
                                                                <td>@list.PROVIDERNAME</td>
                                                                <td><input type="number" value="@list.CONTROLVALUE" id=@list.CONTROLNAME class="form-control form-control-sm"></td>


                                                                <td style="display:none;">@list.CONTROLNAME</td>
                                                                <td style="display:none;">@list.PANELID</td>
                                                                <td style="display:none;">@list.FROMDATE</td>
                                                                <td style="display:none;">@list.TODATE</td>
                                                                <td style="display:none;">@list.FREQUENCYVALUE</td>
                                                                <td style="display:none;">@list.PANELNAME</td>
                                                                <td style="display:none;">@list.FREQUENCYID</td>
                                                                <td>@list.UNIT</td>
                                                            </tr>
                                                                    count++;
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </div>
                }
                else
                {
                    <div class="norecord"> No Record Found</div>
                }
                @if (ResultData.Count > 0 && ResultData[0].DataEntryEligibility == true)
                {
                    <div class="form-group row" id="button">
                        <div class="col-lg-4">
                            <button id="btnDraft" value="0" class="btn btn-secondary">Save As Draft</button>
                         @*   <button id="btnConfirm" onclick="sendOTP()" value="2" class="btn btn-success show-otp">Submit</button>*@
                            <button id="btnSubmit" value="2" class="btn btn-success  ">Submit</button>
                        </div>
                    </div>
                }
                else { }
                <div class="form-group row pad-ver otp-box bg-light pt-3">
                    <label for="TextBox6" class="col-12 col-md-2 col-xl-2 control-label ">
                        Enter OTP
                    </label>
                    <div class="col-lg-4">
                        <input type="number" id="txtotp" class="form-control" />
                        <input type="hidden" id="hdnotp" class="form-control" />
                        <small class="d-block text-danger">(OTP has been sent to your registered mobile)</small>
                    </div>
                    <button onclick="reSendOTP()" style="height:50px" id="otpcount" class="btn btn-success">Re Send OTP</button>
                    <label class="col-xl-12  col-xl-12 control-label"></label>
                    <label class="col-12  col-xl-2 control-label"></label>
                    <div class="col-12 col-md-6 col-xl-4">
                        <button id="btnSubmit" value="2" class="btn btn-success  ">Submit</button>
                        <button id="btnCancel1" class="btn btn-danger  ">Reset</button>
                    </div>
                </div>
            </div>
            <!--===================================================-->
            <!-- END BASIC FORM ELEMENTS -->
        </div>
    </div>
</div>
<script src="~/js/Common.js"></script>
<script>
    var gl = null;
    var pl = null;
    $(document).ready(function () {
        gl = decodeURI(getUrlVars()["Glink"]);
        pl = decodeURI(getUrlVars()["Plink"]);

        if (gl == 'undefined') {
            gl = 0;
        }
        if (pl == 'undefined') {
            pl = 0;
        }
        document.getElementById("BDODataAdd").href = "../BLOCKData/BlockDataEntry?Glink=" + gl + "&Plink=" + pl;
        document.getElementById("BDODataView").href = "../BLOCKData/ViewBlockData?Glink=" + gl + "&Plink=" + pl;
        loadNavigation('AddBDOData', 'gldata', 'plbdodata', 'Datapoint Entry', 'BDO Data Entry', 'View BDOData');
        if (getUrlVars()["FreqId"] == "3") {
            $("#quarter-tab").addClass("active")
        } else if (getUrlVars()["FreqId"] == "4") {
            $("#halfyear-tab").addClass("active")
        } else if (getUrlVars()["FreqId"] == "5") {
            $("#annual-tab").addClass("active")
        } else {
            $("#month-tab").addClass("active")
            //location.href="/BDOData/ViewBDOData?FreqId=2&Glink=" + gl + "&Plink=" + pl"
        }
    });
    $('#btnDraft').click(function () {
        submitData($('#btnDraft').val());
    });
    $('#btnSubmit').click(function () {
        submitData($('#btnSubmit').val());
    });
    function submitData(status) {
        debugger
        if ((status == '2' || status == '0')) {
            var currentDate = new Date();
            var months = ["January", "February", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December"
            ];
            var prev = new Date(currentDate.getFullYear(), currentDate.getMonth() - 1, 1);
            var viewingMonth = months[prev.getMonth()];
            //Getting all ids of all the tbodys to get all the row data for the insertion
            var Ids = []; //array declaring to store the ids of all the tbodys
            $('tbody').each(function () {
                var itm = {};
                itm.id = $(this).attr('id');
                Ids.push(itm)
            });
            var Items = []; //array declaring to store the records to send it to controller
            for (var j = 0; j < Ids.length; j++) {
                var tbl = document.getElementById(Ids[j].id);
                for (var i = 0; i < tbl.rows.length; i++) {
                    var item1 = {};
                    item1.FREQUENCYID = parseInt(tbl.rows[i].children[11].textContent);;
                    item1.CONTROLID = parseInt(tbl.rows[i].children[1].textContent);
                    item1.CONTROLVALUE = parseFloat(tbl.rows[i].children[4].children[0].value);
                    if (item1.CONTROLVALUE == 'Nan') {
                        item1.CONTROLVALUE = null;
                    }
                    else {
                        item1.CONTROLVALUE = item1.CONTROLVALUE;
                    }
                    item1.CONTROLNAME = tbl.rows[i].children[5].textContent;
                    item1.PANELID = parseFloat(tbl.rows[i].children[6].textContent);
                    item1.FROMDATE = tbl.rows[i].children[7].textContent;
                    item1.TODATE = tbl.rows[i].children[8].textContent;
                    item1.FREQUENCYVALUE = tbl.rows[i].children[9].textContent;
                    item1.PANELNAME = tbl.rows[i].children[10].textContent;
                    item1.APPLICATIONO = $('#hdnAppNo').val();
                    item1.status = status;
                    Items.push(item1);
                }
            }
            //checking wheither for all the villages the source village have been selected or not
            if (Items.length == 0) {
                bootbox.alert("Plese enter values against every data points!");
                return false;
            } else {
                var message = "";
                if (status == '0') {
                    message = "Are you sure , you want to Save As Draft?";
                }
                else {
                    message = "Are you sure , you want to Submit?";
                }
                bootbox.confirm({
                    size: "medium",
                    message: message,

                    callback: function (result) {
                        if (result == true) {
                            $(".my-loader").show();
                            $.ajax({
                                url: "/BlockData/BlockDataEntry",
                                data: JSON.stringify(Items),
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader("XSRF-TOKEN",
                                        $('input:hidden[name="__RequestVerificationToken"]').val());
                                },
                                type: "POST",
                                contentType: "application/json;charset=utf-8",
                                dataType: "json",
                                success: function (result) {
                                    $(".my-loader").hide();
                                    bootbox.alert(result.msg, function () {
                                        window.location.href = "/BlockData/ViewBlockData?Glink=" + gl + "&Plink=" + pl;
                                    });
                                },
                                error: function (result) {
                                    $(".my-loader").hide();
                                    bootbox.alert(result);
                                }
                            });
                        }
                    }
                });
            }
        }
    }
    function htmlDecode(str) {
        const doc = new DOMParser().parseFromString(str, "text/html");
        return doc.documentElement.textContent;
    }
    function validate() {
    @Html.Raw(System.Web.HttpUtility.HtmlDecode(script));
        //if ($('#CONTROL_99').val() > $('#CONTROL_12').val()) {
        //    if ($('#CONTROL_116').val() < $('#CONTROL_110').val()) {
        //        if ($('#CONTROL_115').val() == $('#CONTROL_110').val()) { if (1 == 1) { return true; } }
        //        else { bootbox.alert('No of persons tested Malaria positive in the month "N" of current year Should equals to Total number of children aged 9-11 months fully immunized'); };


        //    }
        //    else { bootbox.alert('No of persons tested Malaria positive in the month "N" of last year Should be less than Total number of children aged 9-11 months fully immunized'); };
        //}
        //else {  bootbox.alert(' No of SAM children admitted to Nutritional Rehabilitation Center (NRC)during the month  Should be greater than Total number of live births with a birth weight of  less than 2500 gm during the month'); };



    }
    function GetFromAndToDate() { }

    function isLeapYear(year) {
        return ((year % 4 == 0) && (year % 100 != 0)) || (year % 400 == 0);
    }
</script>



